[2016-12-22 13:55] D-ECHO opened #2 "Add ALS interior shadows"
Since we already have a colored cubemap, this shouldn't be hard to add, I will do this as soon as my current PR is merged

[2016-12-22 13:57] ghost opened #3 "Add FLARM"
I'm not sure how to do this yet, but (IMO) it would definetely be a great addition to realism
https://upload.wikimedia.org/wikipedia/commons/3/35/FLARM_equipment.JPG

[2016-12-22 14:08] viktorradnai commented on #2
There are some shadows visible already using ALS. Are those coming from the outside of the aircraft?

[2016-12-22 14:10] ghost commented on #2
Really? Could you send a screenshot plz? Because I've never seen them

[2016-12-22 14:58] ghost commented on #2
See pull request #4

[2016-12-22 14:58] #2 closed

[2016-12-22 14:59] D-ECHO opened #5 "Add helijah's ASK21-MI"
http://helijah.free.fr/flightgear/hangar.htm

Things to consider:
-can't use same model
Workflow:
-Ask Helijah for permission
-Add files for ASK21-MI
-Remove duplicate files/adapt for minimal extra space

[2016-12-22 18:55] viktorradnai commented on #2
There were some minimal shadows in the front footwell. The new shadows look good but it looks like there aren't showing up the rear instrument panel.

[2016-12-23 12:25] ghost commented on #2
@viktorradnai should be fixed in pull request #6

[2016-12-23 12:26] D-ECHO opened #7 "Authorization"
Could you give me access to the repo so I can categorize, assisgn .. issues myself?

[2016-12-23 13:11] ghost commented on #3
I've added a model+basic xml in this repo https://github.com/D-ECHO/FLARM if someone volunteered to write the necessary code...

[2016-12-23 13:13] ghost commented on #2
"There were some minimal shadows in the front footwell." -> These were probably the texture-baked ambient occlusion shadows :D

[2016-12-23 13:17] D-ECHO opened #8 "Dynamic rain"
Add dynamic rain to the canopy as it is done in the c172p, would be a cool effect when accidently flying into rain

[2016-12-23 13:27] D-ECHO opened #9 "Make vario sound only hearable in the cockpit"
At the moment it's also hearable e.g. from the tower view, which is quite unrealistic I suppose :D

[2016-12-23 13:55] ghost commented on #7
Thanks!

[2016-12-23 13:55] #7 closed

[2016-12-23 14:23] D-ECHO opened #10 "Improve sound config"
Add position's and distances to sounds where applicable, will happen in my sound branch

[2016-12-23 14:38] ghost commented on #10
#11

[2016-12-23 14:39] D-ECHO opened #12 "Improve windows"
The windows currently don't close well and also have other problems, I will correct this as soon as the other PR's are merged so we don't get too much confusion ;)

[2016-12-23 14:41] ghost commented on #9
Should be fixed by PR #6

[2016-12-23 14:41] #9 closed

[2016-12-23 14:57] D-ECHO opened #13 "Wing flex/bending"
As you can see in many videos as well as in RL ;) wings of gliders naturally bend in flight up to 1m at the wing tip (?), so this is kind of a must for the K21

[2016-12-23 23:33] viktorradnai opened #14 "Reflection switch broken after Simulation Reset"
Hi, it looks like the window shader no longer works after the latest PR (not sure when it stopped working).

[2016-12-24 07:36] ghost commented on #14
I'll have a look

[2016-12-24 07:37] ghost commented on #14
Hm... works perfect for me here, are you sure you enabled it? ;)

[2016-12-24 11:08] viktorradnai commented on #14
Actually you are right, the problem is  different.

If you reset the simulation using Shift-Esc or File > Reset, the Enable / disable shader function stops working. If you have enabled it before reset, it will stay permanently enabled, if it was disabled it will stay disabled. If you restart Flightgear it works again. This may be Nasal issue or a Flightgear one, not sure.

[2016-12-25 10:08] ghost commented on #14
As the window shader has nothing to do with nasal coding, it's probably a flightgear issue :(

[2016-12-25 19:49] ghost commented on #12
Should be fixed by PR #16

[2016-12-25 19:50] ghost commented on #10
I think sound is ok now :D

[2016-12-25 19:50] #10 closed

[2016-12-26 10:13] D-ECHO opened #17 "Views"
Add tail view, wing view (below wing), wingtip view, gear view.... because it's fun! :D

[2016-12-26 10:57] D-ECHO opened #18 "Add new winch/aerotow control system as suggested on mailing list"
Hi Viktor,
I really like the ideas you expressed on the mailing list, once we have it implemented here I will add it to every glider I made/improved (ASK13, LS8, DG1001 +all to come)

[2016-12-26 11:01] viktorradnai commented on #18
I'm copying the proposed list of changes from the email for easier reading:

I'd like to propose a change to the glider launching. Currently most gliders in Flightgear use the following keys:

Ctrl-w: place winch in front of glider and attach cable
w: gradually increase winch speed if pressed, gradually decrease winch speed if released
Shift-w: open hook to release winch cable
Ctrl-o: find nearby

[2016-12-26 11:04] viktorradnai opened #19 "Separate cockpit and instrument panel models from aircraft model"
Request from Emmanuel Baranger, ASK21-MI author:

The model should be split into parts for maintainability, Something like this should work, seems like this is how it was done for other aircraft:

- The aircraft model should be in Models/ask21.xml
- The cockpit should be in Models/Interior/interior.xml
- The instrument panels should be Models/Interior/panel-front.xml and Models/Interior/panel-rear

[2016-12-26 11:08] ghost commented on #19
will do this after PR #16 is closed and issue #17 solved

[2016-12-26 11:18] viktorradnai commented on #18
Before we implement this everywhere I'd like to review $FGDATA/Nasal/towing/hitch.nas to see if there are more useful utility functions there that we could use. There are things like towing.closeHitch() and towing.releaseHitch() which might be used instead of modifying the properties.

[2016-12-26 11:34] ghost commented on #19
In PR #21 the interior is split from the main model, after this I can continue splitting instrument panels

[2016-12-26 11:42] #17 closed

[2016-12-26 11:42] #12 closed

[2016-12-26 11:49] ghost commented on #19
Now Step 2 -> Instrument panels

[2016-12-26 11:49] viktorradnai commented on #19
Excellent, thanks for this :)

Please also upper-case the instruments folder to become "Instruments" when you rename.

[2016-12-26 12:07] ghost commented on #19
See PR #22

[2016-12-26 12:10] D-ECHO commented on #5
Will be done after PR #22

[2016-12-26 12:10] ghost commented on #13
Will be done after PR #22

[2016-12-26 13:15] ghost commented on #19
Done

[2016-12-26 13:15] #19 closed

[2016-12-26 14:29] ghost commented on #13
See #23

[2016-12-27 01:14] viktorradnai opened #24 "Aerotow hook position incorrect"
The aerotow cable currently goes to the tip of the nose, but on an ASK21 the nose hook is located halfway between the tip of the nose and the nose wheel. IIRC this used to be correct but somehow got lost when merging.

Also it seems that the end-force-{x,y,z} tags in ask21-set.xml are needed to make the forces have the correct origin (or at least the YASim properties did not seem to be set unless

[2016-12-27 07:44] ghost commented on #24
Could you do this? ;)

[2016-12-27 07:44] ghost commented on #13
Done :D

[2016-12-27 07:44] #13 closed

[2016-12-27 07:52] D-ECHO opened #27 "New UV-Mapping"
The current UV-mapping is very very far from being optimal, so if we have very much time one day (and DEFINETELY BEFORE ADDING LIVERIES!!) we'll have to redo this

[2016-12-27 08:15] D-ECHO opened #28 "Add livery support"
!After #27 is closed!

[2016-12-27 10:01] ghost commented on #27
Done! will be pushed after current PR is closed

[2016-12-27 10:04] ghost commented on #28
Done! will be pushed after current PR is closed:
![fgfs-screen-145](https://cloud.githubusercontent.com/assets/12275960/21497367/be6619a2-cc24-11e6-9e15-1196aca45318.png)
![fgfs-screen-146](https://cloud.githubusercontent.com/assets/12275960/21497374/c3853012-cc24-11e6-8f36-b2a9221c9d57.png)
![fgfs-screen-147](https://cloud.githubusercontent.com/assets/12275960/21497375/c39b974e-cc24-11e6-8de4-a6d

[2016-12-27 12:17] ghost commented on #28
see PR #29

[2016-12-27 12:17] ghost commented on #27
See PR #29

[2016-12-27 12:24] ghost commented on #5
Won't happen

[2016-12-27 12:24] #5 closed

[2016-12-27 12:24] D-ECHO opened #30 "Add pilot models"

[2016-12-27 12:25] D-ECHO opened #31 "Restructure menu"
Our menu is quite messy, probably it'd be better to restructure it to make it better, e.g. put all Ground Control stuff into a submenu etc.

[2016-12-27 12:29] ghost commented on #24
I never knew the aerotow hook was not located inside the nose :open_mouth:

[2016-12-27 12:39] viktorradnai commented on #24
It's difficult to see on this pic, but note the cable position: https://i.ytimg.com/vi/Oqx0NT6_7rg/maxresdefault.jpg

The only thing inside the hollow part of the nose on an ASK21 is the pitot tube, which sits right in the middle and a few cm inside.

I have fixed this with #25.

[2016-12-27 12:50] ghost commented on #24
Yep this picture shows it very well, thanks for that :D

[2016-12-27 12:50] ghost commented on #24
Sorry for opening :D

[2016-12-27 12:50] #24 closed

[2016-12-27 14:12] ghost commented on #31
See PR #32
I had to destroy my fork and then fork again but everything is fine now :D

[2016-12-28 06:45] #31 closed

[2016-12-28 06:45] #27 closed

[2016-12-28 06:45] #28 closed

[2016-12-28 06:46] ghost commented on #30
See PR #33

[2016-12-28 07:27] D-ECHO opened #34 "Add more liveries"
G-CWJD and G-CKEJ (London Gliding Club) are ready and waiting ;)
Any others to be done?

[2016-12-28 07:31] ghost commented on #34
![fgfs-screen-161](https://cloud.githubusercontent.com/assets/12275960/21516389/00609dec-ccd8-11e6-9473-2dc27b8a308c.png)
![fgfs-screen-162](https://cloud.githubusercontent.com/assets/12275960/21516390/00633728-ccd8-11e6-9fe8-0dfbb6158c3e.png)
Sorry if the liveries aren't 100% exact/good, your club's painters did an extraordinary job! ;)

[2016-12-29 07:34] D-ECHO opened #35 "Make generic glider pilot model"

[2016-12-29 07:44] D-ECHO opened #37 "Changing to 8,33kHz"
As we still have an AR3201 COMM installed which is only capable of 25kHz channel spacing and from the 1st January 2018 (at least inside the EU) 8,33kHz spacing is required, we should maybe "upgrade" to an AR6201. Do you by chance know what the difference (apart from channel spacing) are?

[2016-12-31 14:10] viktorradnai commented on #34
Thanks for this! I'll play with the fonts, other than that they look pretty good to me :)

[2016-12-31 14:10] #34 closed

[2016-12-31 14:14] viktorradnai opened #38 "Glider internals sticking out on the side of the fuselage"
If pilots are enabled, the instructor's legs are partially sticking out of the side of the fuselage. Also he corner of the instrument panel or something similar sticks out a little bit as well.

![fgfs-screen-194](https://cloud.githubusercontent.com/assets/4738178/21577877/4acbd8fa-cf63-11e6-85a0-f199d8521c9b.png)
![fgfs-screen-195](https://cloud.githubusercontent.com/assets/4738178/21577878/4accd

[2016-12-31 17:34] ghost commented on #38
However it's done, something is always sticking out, either out of front seat or out of fuselage, I'll try to find a solution after Version 1.0

[2016-12-31 17:37] ghost commented on #38
Meanwhile I made both pilots a bit smaller, not realistic but ok as a temporary fix

[2016-12-31 17:37] #30 closed

[2016-12-31 17:38] viktorradnai commented on #38
How about deleting the feet from the model?

On 31 Dec 2016 18:37, "D-ECHO" <notifications@github.com> wrote:

[2017-01-01 08:22] ghost commented on #38
Nah, wouldn't be that realistic either, would it? :P

Am 31.12.2016 um 18:38 schrieb Viktor Radnai:

[2017-01-01 08:59] D-ECHO opened #39 "We're online on SVN!"
See https://sourceforge.net/p/flightgear/fgaddon/2367/tree//trunk/Aircraft/ASK21/ and
https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302392

Happy new year @viktorradnai @HHS81 @D-ABBA

[2017-01-01 09:06] D-ECHO opened #40 "Add glide computer"
Another great thing to do, but I have no idea how to :fearful:

[2017-01-01 13:55] viktorradnai commented on #38
I was thinking that this would be less obvious as the feet are pretty well
hidden by the instrument panel.

On 1 Jan 2017 09:22, "D-ECHO" <notifications@github.com> wrote:

[2017-01-01 14:02] viktorradnai commented on #40
It's probably better to leave this out and let people run xcsoar
separately. The typical ASK21 instrument panel is fairly basic, at least
the club ones for sure.

If you'd like to get fancy then a battery voltage indicator and a G meter
for aerobatics could be added as well as a master switch and a separate
on-off switch for the turn indicator (which is usually switched off to save
battery).

On 1

[2017-01-01 15:05] ghost commented on #38
Well, also true :D I'll have a look

[2017-01-01 15:06] ghost commented on #40
Just discovered this great XCSoar thingy ;) thanks! So yep, let's let this run the user seperate and concentrate on more important things

[2017-01-01 15:06] #40 closed

[2017-01-01 15:52] viktorradnai commented on #39
Awesome, Happy New Year all! :)

And big thank you to Benedikt for all the work he did on the model this holiday season :)

[2017-01-01 16:24] ghost commented on #39
Thanks back I can only say! :D

[2017-01-01 16:24] #39 closed

[2017-01-01 17:07] ghost commented on #39
If it's okay for you, I will push updates to svn fgaddon once every one or two months when we're in a stable state

[2017-01-01 20:22] viktorradnai commented on #39
Should be fine, but I'd like to see #41 out soon enough to be included in FG 2017.1

[2017-01-01 23:14] viktorradnai commented on #38
Also please don't forget about the two corners of the instrument panel that stick out.

[2017-01-02 06:35] ghost commented on #38
See PR #42

[2017-01-02 06:43] ghost commented on #39
#41 is out! ;D

[2017-01-02 09:10] ghost commented on #35
![screenshot_20170102_100938](https://cloud.githubusercontent.com/assets/12275960/21586671/b57f2780-d0d3-11e6-8042-dc697736769b.png)

[2017-01-02 10:37] viktorradnai commented on #35
This is great :) Made me laugh too, the Flightgear logo on the bucket hat
is a nice touch :)

On 2 January 2017 at 09:10, D-ECHO <notifications@github.com> wrote:

--
My other sig is hilarious

[2017-01-02 11:31] viktorradnai commented on #38
Fixed by #42

[2017-01-02 11:31] #38 closed

[2017-01-02 11:32] viktorradnai commented on #14
Is it just me or is the glass shader completely broken now?

[2017-01-02 11:35] ghost commented on #14
Works perfect here..

[2017-01-02 11:50] #35 closed

[2017-01-04 08:29] D-ECHO opened #44 "Add trim handle"
see https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302600:

[2017-01-04 08:30] D-ECHO opened #45 "Canopy is too dark"
see https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302600

also the choice to turn off glass seems to be inconsistent between sessions

[2017-01-04 08:31] D-ECHO opened #46 "Wrong ASI marker"
see https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302600

[2017-01-04 08:31] D-ECHO opened #47 "Adjust glide-angle"
see https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302600

This is probably caused because the yasim glide-angle is not as expected, so massive testing with different values will be required.

[2017-01-04 08:32] D-ECHO opened #48 "Check mass&mass distribution"
see https://forum.flightgear.org/viewtopic.php?f=4&t=31363#p302600

[2017-01-04 08:53] viktorradnai commented on #47
Minimum sink for an ASK21 is about 0.5m/s. If we're lucky the manual might
have a polar curve.

On 4 Jan 2017 9:31 a.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-04 09:06] viktorradnai commented on #44
The trim works. I used the HUD to verify the position in the past. I also
have a Saitek Aviator joystick with two throttle levers and I map the
second throttle to the trim, which is reasonably similar to the real thing.

The only annoying aspect of Flightgear's trim system is that it not only
changes the neutral position of the stick but the entire range. So if you
apply full back stick and full r

[2017-01-04 11:34] viktorradnai commented on #46
This could well be the case, the current ASI was borrowed from another
glider. We'll probably need another dial image with the correct speeds.

On 4 Jan 2017 09:31, "D-ECHO" <notifications@github.com> wrote:

[2017-01-04 11:36] viktorradnai commented on #47
ASK21 polar curve is here: http://www.fsglider.de/p_pol_e.htm

The are a couple of different versions, I need to compare them to make sure
that the data is the same.

On 4 Jan 2017 09:53, "Viktor Radnai" <viktor.radnai@gmail.com> wrote:

Minimum sink for an ASK21 is about 0.5m/s. If we're lucky the manual might
have a polar curve.

On 4 Jan 2017 9:31 a.m., "D-ECHO" <notifications@github.com> wrote

[2017-01-04 13:21] ghost commented on #46
To make sure we're correct, here are two images:
http://i163.photobucket.com/albums/t302/KutschmannAlex/Borkenberge/DSCN1576.jpg
->yellow triangle at 95, but not the double-circled ASI we use here
http://cdn-www.airliners.net/photos/airliners/5/8/9/1057985.jpg?v=v40
->yellow triangle at 49 (kts!), double-circled ASI as we use here
so the type of the ASI seem to differ from aircraft to aircraft, no

[2017-01-04 13:22] ghost commented on #46
The strange thing I just noted it that 49 kts = 90.748 kmh, so it should be at 51.5

[2017-01-04 13:23] viktorradnai commented on #46
I guess we need to check what the flight manual says then.

On 4 Jan 2017 14:21, "D-ECHO" <notifications@github.com> wrote:

[2017-01-04 13:24] ghost commented on #46
Here is it http://www.alexander-schleicher.de/wp-content/uploads/2015/02/210_TM04B_E_HB.pdf

[2017-01-04 13:26] ghost commented on #46
I'll check this later, got2go now

[2017-01-04 17:13] ghost commented on #47
So from the polar curve we should get a sink rate of 0.75 at 90 km/h, I will test this
[EDIT]I got 0.17m/s, so yes, it's far too good

[2017-01-04 17:21] ghost commented on #47
Please try with 4.5 for cruise and 5 for approach, that worked quite well for me

[2017-01-06 00:23] viktorradnai commented on #47
See #49

[2017-01-06 00:24] viktorradnai commented on #48
Maybe #49 helps with this as well. Although I'm not clear if the original poster meant the ailerons, the elevator or both.

[2017-01-06 00:27] viktorradnai opened #50 "Use instruments with imperial units for G-CJWD and G-CKEJ liveries"
I'd like to have a different instrument panel for G-CJWD and G-CKEJ that has an ASI in knots, an altimeter in feet with the air pressure in HPa and a variometer that is in knots as well. This is the British gliding standard and this is how the gliders are set up in real life. Perhaps we can model an US example as well and give it an altimeter that uses InHg and a vario with fpm.

[2017-01-06 00:28] viktorradnai opened #51 "Add G meter"
ASK21 aircraft to be used for aerobatics must be fitted with a G meter. I think we should add this to the panel.

[2017-01-06 06:37] ghost commented on #50
see #52

[2017-01-06 06:38] ghost commented on #47
Fine now :D

[2017-01-06 06:38] #47 closed

[2017-01-06 06:38] ghost commented on #51
Do you know whether there is already a modelled one anywhere in fg?

[2017-01-06 12:32] viktorradnai commented on #51
Aircraft/Cap10C/Models/Interior/Panel/Instruments/ForceG2.png looks like a good start. If I can make it to the club I'll try to take some photos of an actual ASK21 installed instrument, to get the labelling correct.

[2017-01-12 03:43] viktorradnai commented on #51
Closed by #52

[2017-01-12 03:43] #51 closed

[2017-01-12 03:44] viktorradnai commented on #18
Implemented in #52

[2017-01-12 03:44] #18 closed

[2017-01-12 03:47] viktorradnai opened #53 "Add canopy jettison handle on top of instrument panel"
See the image here, the canopy emergency release is the big lever with the red plastic on the end: https://i.ytimg.com/vi/-W6O3lX9rwE/maxresdefault.jpg

[2017-01-12 03:48] viktorradnai commented on #53
https://i.ytimg.com/vi/-W6O3lX9rwE/maxresdefault.jpg

[2017-01-12 13:51] ghost commented on #53
Ah, have always wondered what this is for ;)

Am 12.01.2017 um 04:47 schrieb Viktor Radnai:

[2017-01-18 23:37] viktorradnai opened #55 "Retweak flight model for current version of YASim"
Apparently YASim has a lot of bugfixes that aren't enabled by default in order not to break already working models. This newsletter article has the details: http://wiki.flightgear.org/FlightGear_Newsletter_April_2014

I have tried to add YASIM_VERSION_CURRENT to the config but this made the YASim solver fail to get a solution. Therefore we'll need to tweak the flight model parameters to make the s

[2017-01-23 19:18] ghost commented on #45
"also the choice to turn off glass seems to be inconsistent between sessions"
-> this can be fixed using aircraft-data, I'll implement it after PR #56 is solved

[2017-01-24 17:12] ghost commented on #8
Done! Will push/PR after PR #56 is solved

[2017-01-24 18:29] ghost commented on #53
I've implemented the handle and canopy front jettison. For the rear I did nothing yet because it is handled by pulling both normal open handles fully to the back.

[2017-01-26 04:27] viktorradnai commented on #53
You are right. For the rear seat, the detachment of the canopy is handled by the airflow as far as I know :)

[2017-01-27 13:29] D-ECHO opened #59 "Immat (or not)"
We still have a commented-out immat.nas flying around in our folder/set file. Personally I don't like to have immat support here, because IMO the special registration (and also it's color, text type etc.) belongs to the livery. What do you think of this?

[2017-01-27 13:33] ghost commented on #53
see #58

[2017-01-27 13:33] ghost commented on #8
see #58

[2017-01-27 13:34] ghost commented on #50
Would you mind doing a kts variant of your excellent kmh texture?

[2017-01-27 13:42] ghost commented on #44
see https://sfg-singen.de/bilder/flugzeuge/ASK21_Cockpit_vorne_kl.jpg
http://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg
http://www.alexander-schleicher.de/wp-content/uploads/2015/04/21-Mi-Cockpit-002.jpg
note though that the last image is from an ASK21-MI

[2017-01-27 13:44] ghost commented on #46
Was this fixed by #57 ?

[2017-01-27 15:49] viktorradnai commented on #46
Yes, but only for the metric ASI. The one in knots still needs to be redone.

[2017-01-27 15:52] ghost commented on #46
ID be happy if you did it as i don't know inkscape

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm>

--- Original-Nachricht ---
Von: Viktor Radnai
Betreff: Re: [viktorradnai/flightgear-ask21] Wrong ASI marker (#46)
Datum: 27.01.2017, 16:49 Uhr
An: viktorradnai/fli

[2017-01-27 17:01] viktorradnai commented on #46
I will, as soon as I have some time. It's fairly tedious arranging each
notch by hand.

On 27 January 2017 at 15:52, D-ECHO <notifications@github.com> wrote:

--
My other sig is hilarious

[2017-01-27 22:51] viktorradnai commented on #59
I think being able to set the callsign is important for multiplayer in particular. Ideally what I'd like would be to be able to change the livery and have the callsign displayed with the correct font for the livery. If this is not possible, then I'd rather not change the callsign.

[2017-01-28 06:35] ghost commented on #59
It is possible to do so, though it would mean to create a png containing
all letters/number for each font, IMO a bit of a waste of space (not ace
of spades :P) Maybe it would be better to create a bunch of liveries
with set callsign and some special ones which have white spaces so there
is a possibility to chose callsign (with font=arial)

Am 27.01.2017 um 23:51 schrieb Viktor Radnai:

[2017-01-28 07:34] #53 closed

[2017-01-28 07:42] ghost commented on #45
I think we can close this after PR #60 is solved (persistency of simulation options), I can barely see a difference in darkness between in/out

[2017-01-28 07:42] #8 closed

[2017-01-28 07:49] ghost commented on #48
Mass&Mass distribution seems to be fine. This is one of those "feeling" things that you can't really tell, maybe it's because of the joystick, maybe it's the aircraft....

[2017-01-28 07:49] #48 closed

[2017-01-28 09:10] D-ECHO opened #61 "Instruments list"
Here I'd like to keep a list which instruments we use/will use and what's to be done:

1. Air speed indicator see https://www.winter-instruments.de/fahrtmesser---airspeed-indicator
1.1 km/h  6 FMS 4 300 km/h  -> done, "km/h" not at correct position, some text missing
1.2 kts 6 FMS 4 160 knots -> not done
2. Altimeter see https://www.winter-instruments.de/hhenmesser / 4 FGH 10
2.1 km Art. 4110 -> d

[2017-01-28 09:17] D-ECHO opened #62 "Better air cooler"
![whatsthis](https://cloud.githubusercontent.com/assets/12275960/22395577/d841191c-e542-11e6-923c-bed29ff33aab.jpg)
Image source http://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg

[2017-01-28 10:56] D-ECHO opened #64 "Better seat texture"
At the moment we have a simple grey texture, maybe we can get a texture like this?
![ASK21 Seat](http://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg)

[2017-01-28 10:59] viktorradnai commented on #62
It's the cabin ventilation and pilot cooling system :) It's an air vent
that can be tilted upwards or backwards and can be opened or closed with a
butterfly valve in the flat part.

On 28 Jan 2017 10:17 a.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-28 11:02] viktorradnai commented on #64
Sure. Our cushions are just plain blue; I think either would look a lot
better but maybe a pain colour is easier to implement.

On 28 Jan 2017 11:56 a.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-28 11:04] ghost commented on #64
Yep, I'm trying to make a texture out of the images you send (hope they
are GPL?)

Am 28.01.2017 um 12:02 schrieb Viktor Radnai:

[2017-01-28 11:06] viktorradnai commented on #64
Yes, consider them released under a licence that permits use or creation of
derivative works for Flightgear :)

On 28 Jan 2017 12:04 p.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-28 11:09] ghost commented on #64
Thx

[2017-01-28 11:10] ghost commented on #62
Ok thanks, maybe we can improve our model there a bit

[2017-01-28 11:11] ghost commented on #64
![fgfs-screen-197](https://cloud.githubusercontent.com/assets/12275960/22396180/e807a5e0-e552-11e6-9db6-8cc54bd7ddfd.png)
Fine with this? I wanted to keep it simple :D

[2017-01-28 11:15] viktorradnai commented on #64
Yes it's nice. But remember that the rear stick is embedded into the seat.
It pokes though a hole.

On 28 Jan 2017 12:11 p.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-28 11:17] ghost commented on #64
Is the rear stick completely straight?

[2017-01-28 11:25] ghost commented on #64
(self-answering) No, it isn't. See ![Rear Cockpit](http://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-005.jpg)

[2017-01-28 11:38] #59 closed

[2017-01-28 11:48] viktorradnai commented on #64
My bad, it's acully the front seat that has the stick embedded.

On 28 Jan 2017 12:25 p.m., "D-ECHO" <notifications@github.com> wrote:

[2017-01-28 11:48] ghost commented on #64
Yes, now I know thx

[2017-01-28 11:58] D-ECHO opened #66 "Add outside windows"
I discovered that we only have windows to be seen from the inside *none* from the outside, should I re-add them?

[2017-01-28 12:03] #45 closed

[2017-01-28 12:15] ghost commented on #66
See #65 various

[2017-01-28 12:15] #66 closed

[2017-01-29 07:15] #64 closed

[2017-01-29 08:50] D-ECHO opened #67 "Add rudder pedals"
![Front pedals](http://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-004.jpg)
![Front pedals 2](https://sfg-singen.de/bilder/flugzeuge/ASK21_Cockpit_vorne_kl.jpg)
![Rear pedals](http://www.aerosoft.de/shop-rd/bilder/screenshots/fsx/ask21-glider/ask21-glider-06.jpg)
(last one is simulated by aerosoft, I couldn't find a photo of the rear pedals)

[2017-01-29 09:52] ghost commented on #44
See #65

[2017-01-29 10:13] ghost commented on #67
see #65

[2017-01-29 10:24] ghost commented on #62
see #65

[2017-01-29 10:36] ghost commented on #50
also see #61

[2017-01-29 14:45] viktorradnai commented on #67
![20161203_194121](https://cloud.githubusercontent.com/assets/4738178/22404695/3ac96fd0-e62e-11e6-9177-9bbb50af7bf7.jpg)
Here's a pic of the rear pedals from an ASK21 in the workshop with all the internal covers removed. I've added a few more pics to the Google Drive folder I've shared with you as well.

You have the wrong idea with the rudder pedals. These are similar to the SF-25 in the way that

[2017-01-29 14:55] ghost commented on #67
Wow, thanks for this explanation!

Am 29.01.2017 um 15:45 schrieb Viktor Radnai:

[2017-01-31 00:14] viktorradnai commented on #67
Looks good, except for the rear pedals are too close together. And the pipe they are hinged on actually visibly connects them together. And you are missing the triangle with the handle that is used for adjustment. So nearly there.

[2017-01-31 15:34] ghost commented on #67
improved :D see #68

[2017-01-31 15:34] #62 closed

[2017-01-31 15:36] #44 closed

[2017-01-31 15:38] ghost commented on #50
Variometer (Winter) -> done
Airspeed Indicator (Winter) -> not done
Altimeter -> not done

[2017-02-05 08:46] D-ECHO opened #70 "Rework Aircraft Rating?"
In the -set file as well as on the wiki, we still have the following rating
**_FDM_**: 2: FDM tuned for cruise configuration.
**_Systems_**: 2: Working electrical system, fuel feed cockpit controls, stable autopilot
**_Cockpit_**: 2: 2D panel in 3D cockpit, or incomplete 3D panel
**_Model_**: 3: Accurate 3D model with animated control surfaces, gear detailing (retraction, rotation), prop
In my opi

[2017-02-05 09:57] #67 closed

[2017-02-05 13:41] viktorradnai commented on #70
I agree, we can have 4 across the board at least.

[2017-02-05 14:03] ghost commented on #70
see PR #72

[2017-02-05 15:00] viktorradnai commented on #14
This seems to work now, not sure what has changed. Must be something to do with how Flightgear saves the state of properties.

[2017-02-05 15:00] #14 closed

[2017-02-05 15:14] viktorradnai commented on #70
Closed by PR #72

[2017-02-05 15:14] #70 closed

[2017-02-05 15:15] viktorradnai commented on #46
Should be fixed by PR #69

[2017-02-05 15:15] #46 closed

[2017-02-05 15:16] viktorradnai commented on #50
This should be resolved by #69 as well.

[2017-02-05 15:16] viktorradnai commented on #61
Is this resolved by #69 as well?

[2017-02-05 15:18] ghost commented on #61
Not completely, we still need a better ball and compass I think

[2017-02-05 15:23] ghost commented on #50
The altimeter isn't that good yet, do you want to keep it?

[2017-02-05 15:36] viktorradnai commented on #50
I would prefer to have a nicer one for imperial units, but didn't have time
to change the pressure setting disc to use mbar values instead of InHg. Is
this something you could do quickly?

On 5 Feb 2017 15:23, "D-ECHO" <notifications@github.com> wrote:

[2017-02-05 15:38] ghost commented on #50
I've tried altering this multiple times but I actually suck at it ;)

Am 05.02.2017 um 16:36 schrieb Viktor Radnai:

[2017-02-05 15:59] viktorradnai commented on #50
It's that kind of sport :) Tedious and annoying work :)

On 5 Feb 2017 15:38, "D-ECHO" <notifications@github.com> wrote:

[2017-02-05 16:33] viktorradnai commented on #50
You can draw a nearly complete circle in inkscape to measure angles then
copy and rotate the text object by that angle. If you have two on the
opposite side then rotating around the centre should be correct. When you
have two, group them together to make four, then copy that to make eight
and so on. Then finally you have to edit each number one by one... Not much
fun.

On 5 Feb 2017 15:59, "Viktor

[2017-02-10 16:19] D-ECHO opened #73 "Base wind sound on how far the window is opened"

[2017-02-11 09:25] ghost commented on #73
see #74

[2017-02-12 00:58] viktorradnai commented on #73
Merged.

[2017-02-12 00:58] #73 closed

[2017-02-18 17:42] ghost commented on #50
Let's do the alt texture for version 3.0 ;)

[2017-02-21 15:41] D-ECHO opened #77 "Redo panel uvmap"
Gilberto Agostinho contacted me some days ago and offered his help in improving textures. Therefor he suggested to redo the uvmap for the panel so to have it on one texture as it is done for the Interior/parts.png or the interior.png here: https://github.com/D-ECHO/ASW28/blob/master/Models/interior.png
If you are okay with this, I will correct it ;)

[2017-02-21 17:36] viktorradnai commented on #77
I'm OK with this. I generally take your recommendations for 3D model-related subjects as I lack the experience.

[2017-03-02 14:46] ghost commented on #77
Btw, could you add Gilberto as a collaborator to the repository? (@gilbertohasnofb)

[2017-03-04 16:56] D-ECHO opened #78 "Add Drag Roboter"
Add a "roboter" aircraft towing you (auto controlled, does a normal circuit).
see https://www.youtube.com/watch?v=gRQzOMJMu7s for how it's done in Condor Soaring
(proposal by Thomas Polzer)

[2017-03-05 23:13] viktorradnai commented on #77
Hi, I've added @gilbertohasnofb as requested. Gilberto, welcome :)

[2017-03-05 23:21] gilbertohasnofb commented on #77
@viktorradnai Hi Viktor, thanks for adding me! I will push the work I have so far to the `panelstub` branch :smile:

[2017-03-05 23:25] gilbertohasnofb commented on #77
This is what I have so far:

![glider-0](https://cloud.githubusercontent.com/assets/5700795/23592574/5fbb665e-0203-11e7-845d-cc884a916e58.jpg)

![glider-1](https://cloud.githubusercontent.com/assets/5700795/23592576/5fbcdcaa-0203-11e7-989c-54329c781d11.jpg)

![glider-2](https://cloud.githubusercontent.com/assets/5700795/23592575/5fbc6112-0203-11e7-97d8-97bc534db3cd.jpg)

[2017-03-05 23:27] gilbertohasnofb commented on #77
@D-ECHO please do a `git pull` on the `panelstub` before continuing with the UV map, ok? I just pushed my commits :tada:

[2017-03-05 23:55] viktorradnai commented on #77
Guys, this is starting to look really nice. Although some of the instruments seem to be brighter than others when in a cloud shadow. But that would be the instrument's problem I guess.

[2017-03-06 00:09] viktorradnai opened #79 "Instructor's view inaccuracies"
The instructor's viewpoint has a few issues. First, the arrangement of the front seat's back and the pedals that go around it look wrong. Please compare the following two pics:

![ask21_instructor_view](https://cloud.githubusercontent.com/assets/4738178/23592949/499f703e-0200-11e7-921b-7ba8decd558b.jpg)

![fgfs-screen-235](https://cloud.githubusercontent.com/assets/4738178/23592967/7969c1d4-0200-1

[2017-03-06 00:13] viktorradnai commented on #79
Ah yes, and the middle of the instrument panel comes down a little, obstructing more of the seat back.

[2017-03-06 00:15] viktorradnai commented on #79
I'd like to rearrange the instruments on the panel based on this picture at some point. @gilbertohasnofb and @D-ECHO , will this interfere with your uvmap work?

[2017-03-06 00:20] gilbertohasnofb commented on #77
Great to hear that!

[2017-03-06 00:23] gilbertohasnofb commented on #79
@viktorradnai No, I don't believe changing the instrument position will interfere with the texture and uv-map work in the panels

[2017-03-06 00:26] viktorradnai commented on #79
@gilbertohasnofb thanks. I'll do a PR once it's ready.

[2017-03-06 00:27] gilbertohasnofb commented on #79
:+1:

[2017-03-06 00:28] viktorradnai commented on #79
Found something else that is missing from the model -- the canopy latch rods. These go from each the latch handle into the base of the U shaped fixed canopy frame loop. The same rods are present in the front cockpit as well, they go backwards from the latch handle.

[2017-03-06 00:30] gilbertohasnofb commented on #77
By the way, I started working on the exterior textures as well. I have improved the wheel texture, improved a bit the livery `customcallsign-2.png` and I pushed a new livery D-5394 based on a real aircraft.

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/23593232/60e55d7e-020c-11e7-988a-1a9d07baa299.png)

[2017-03-06 00:39] viktorradnai commented on #77
Talking about the wheel, actually both the main and front wheels are too skinny. I'll raise an issue for that. Also at least LGC flies the gliders with the main wheel fairing removed, presumably so it doesn't get full of mud during a typical UK winter. But that might be too much of a bother to model.

[2017-03-06 00:48] viktorradnai opened #80 "Wheels are too thin"
Both the main and front wheels are too skinny compared to the real aircraft. I've found a good pic showing the ASK21 from the front and tried to take a similar screenshot:

![21-mi-bugrad-001](https://cloud.githubusercontent.com/assets/4738178/23593373/0dd13cf8-0206-11e7-8144-9c1fac81ef8f.jpg)
![fgfs-screen-236](https://cloud.githubusercontent.com/assets/4738178/23593372/08144968-0206-11e7-9745-b6

[2017-03-06 01:24] gilbertohasnofb commented on #80
@viktorradnai I actually don't know anything about 3D modelling :cry:

[2017-03-06 01:30] viktorradnai commented on #80
@gilbertohasnofb LOL, me neither, I thought I'm the only one who doesn't :)

[2017-03-06 10:19] gilbertohasnofb commented on #80
Yeah, I never had the energy to sit down and learn how to use Blender :smile:

[2017-03-06 11:14] viktorradnai commented on #78
Good idea. The DG-101G has one but I couldn't get it working as it kept exceeding max tow force when it started rolling. I'll look into copying the logic.

[2017-03-06 13:59] ghost commented on #80
Does anyone of you by chance know how thick it should be?

[2017-03-06 14:10] ghost commented on #77
Thanks for you tex work, @gilbertohasnofb it's great! :D I've corrected the uvmap for the airvent and the microphone :D
@viktorradnai I think this is because of some instruments having fake instrument lighting to make them readable when the sun shines in

[2017-03-06 14:12] ghost commented on #80
Btw, are you aware the image you posted is from the ASK21MI? (there the front wheel is steerable)

[2017-03-06 14:23] ghost commented on #80
I have made the wheels a bit thicker and therefor also changed the fairings:
![fgfs-screen-216](https://cloud.githubusercontent.com/assets/12275960/23613698/cc3192e0-0280-11e7-8244-dccf66ca8175.png)
@gilbertohasnofb please make the texture for the wheels a bit bigger (add some grey around it) so we don't have these white glitches on it. However, very good tex thanks!
![fgfs-screen-215](https://clo

[2017-03-06 14:29] viktorradnai commented on #80
According to the maintenance manual, the main wheel is a 4.00-4 and the nose wheel is a 5.00-5. These appear to be standard aircraft wheel sizes used for all kinds of aircraft (even business jets), and I'm not sure what dimensions the numbers refer to. I would guess that these are in inches and one number refers to the radius of something (maybe the rim) and the other one the thickness (maybe also

[2017-03-06 15:47] gilbertohasnofb commented on #77
@D-ECHO thanks a lot for the quick fix! So I will add those two interior textures (mic and vent) and finish reworking the liveries tonight, then this will be ready to merge

[2017-03-06 15:59] ghost commented on #77
Great! btw, @gilbertohasnofb in which time zone are you?

[2017-03-06 16:04] gilbertohasnofb commented on #77
@D-ECHO I am in UTC +1 as I am currently living in Germany, but I am kind of a night owl :smile:

[2017-03-06 16:17] ghost commented on #77
Hugh, in Germany? Though you were living somewhere in America based on your online time (~01:00 usually) :D

[2017-03-06 16:20] gilbertohasnofb commented on #77
Heheh I am actually from Brazil but I have been living in Europe for almost a decade now. And I tend to work on FG rather at night indeed :smile: You are also in Germany, aren't you?

[2017-03-06 16:23] gilbertohasnofb commented on #80
Sure, I will add it to the same branch `panelstab` in which I have been working, so that when that's merged and this is merged, then the result will be fixed. Is that fine with you?

[2017-03-06 17:05] ghost commented on #80
Yep, this is good!

[2017-03-06 17:06] ghost commented on #77
Yep, south-western Germany. I guess you're living in Berlin?

[2017-03-06 20:59] gilbertohasnofb commented on #77
Actually I am also in the South-west as well, in Freiburg :smile:

So the interior is basically done, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/23627124/b6a641a8-02af-11e7-8533-81d44c923336.png)

I am now finishing to improve the wheel and the liveries, I am pushing it very soon

[2017-03-06 20:59] gilbertohasnofb commented on #77
@D-ECHO Ok, so there are only two things that still need to be done before we can merge this:

- add a 3D button to the back seat stick. When UV-mapping it, you don't need to add the contour to that layer in gimp, just simply map it to this region on top of the instructor's stick:

![screenshot from 2017-03-06 20 32 46](https://cloud.githubusercontent.com/assets/5700795/23629498/338feca2-02b8-11e7

[2017-03-06 21:00] gilbertohasnofb commented on #80
fixed in `panelstab`

[2017-03-06 21:41] viktorradnai opened #81 "Add rudder pedal length adjuster to front cockpit"
There is a piece missing between the stick and the bottom of the instrument panel. It's a grey block that has a single ball + wire (similar to the cable release) that is pulled to adjust the rudder pedals back and forth to suit the height of the pilot.

In the ASK21Mi that space is occupied by the engine controls so maybe it's worth having that insert as a separate model.

It's not the best pictur

[2017-03-06 21:41] viktorradnai commented on #81
When viewed from the pilot's seat this part fills the gap between the edge of the seat and the bottom of the panel.

[2017-03-06 21:42] gilbertohasnofb commented on #81
I would just suggest to please finish and merge that work on the panel uv-mapping and textures before working on this, ok? Else things may get messy

[2017-03-07 16:06] ghost commented on #81
I will try and model this when panelstub is merged... btw, where is this part attached? to the panel or to the bottom?

[2017-03-07 16:41] viktorradnai commented on #81
It's attached to the floor.

On 7 Mar 2017 4:06 p.m., "D-ECHO" <notifications@github.com> wrote:

[2017-03-07 19:31] viktorradnai commented on #81
It's attached to the floor.

On 7 Mar 2017 4:41 p.m., "Viktor Radnai" <viktor.radnai@gmail.com> wrote:

[2017-03-11 22:15] gilbertohasnofb commented on #77
@D-ECHO once you have some time could you please take a look on these two small things above, so we can merge this branch? Once this work has been done here, I will move on to work on the textures of the ASW 28.

[2017-03-12 17:48] ghost commented on #77
PushToTalk Rear added and wing uvmap corrected ;) see commit f94f868

[2017-03-12 18:40] gilbertohasnofb commented on #77
@D-ECHO Looks really good, thanks for the fixes! I just pushed a new commit improving a bit the interior texture around the nose, and from my part this is ready to be merged. A PR is on its way.

[2017-03-13 05:52] D-ECHO opened #83 "Fuselage is too dark"
Particulary in shadows

[2017-03-13 08:48] gilbertohasnofb commented on #83
See @viktorradnai pictures posted at https://github.com/viktorradnai/flightgear-ask21/pull/82#issuecomment-285986993

[2017-03-13 12:38] viktorradnai commented on #83
The fuselage looks great in sunshine but it's too dark and has an unnatural metallic shine when it's in the shade. See how the tug aircraft (DR400) looks in comparison, it's much more natural.

![fgfs-screen-245](https://cloud.githubusercontent.com/assets/4738178/23854544/c3c64d4e-07e9-11e7-956f-0775fa65fca0.png)
![fgfs-screen-246](https://cloud.githubusercontent.com/assets/4738178/23854467/8d7b47

[2017-03-13 12:44] viktorradnai commented on #83
I rememebered using ambient-correction to try and fix this in the past but I cannot find any trace of having committed that in. I'll have another go unless you guys feel like doing it.

[2017-03-13 12:57] viktorradnai commented on #83
Setting ambient-correction to 0.1 looks better. See screenshots:
![fgfs-screen-254](https://cloud.githubusercontent.com/assets/4738178/23855154/8c18a9ac-07ec-11e7-8d8d-3db79c04709d.png)
![fgfs-screen-257](https://cloud.githubusercontent.com/assets/4738178/23855155/8c1c0be2-07ec-11e7-820f-7d82132e0c87.png)

[2017-03-13 13:02] viktorradnai commented on #83
I think the shininess needs to be reduced. This is a tricky one because gliders are shiny but only when the light hits them at an angle. The white coat diffuses reflections but it has a layer of clear coat on top which behaves similarly to water: it reflects light hitting at low angles but lets them pass through if they come in at a steep angle (close to perpendicular to the surface). Therefore it

[2017-03-13 13:11] #77 closed

[2017-03-13 13:29] viktorradnai opened #84 "Animate instructor's PTT switch"
Currently the button is not moving with the stick. @D-ECHO will fix, just raising issue for it so it's not forgotten.

[2017-03-13 15:52] ghost commented on #83
Maybe this can be of help? http://wiki.flightgear.org/ALS_technical_notes#Glossy_surfaces It says something about angles and reflections ;)

[2017-03-13 17:11] #84 closed

[2017-03-13 17:14] viktorradnai opened #87 "Shadows in rear cockpit"
Looks like the shadows aren't applied to the rear cockpit interior -- or perhaps there is a shadow that should not be there. I've noticed a shadow appearing in the footwell that did not continue into the instructor's cockpit area.

![fgfs-screen-263](https://cloud.githubusercontent.com/assets/4738178/23866350/776d66c2-0810-11e7-8f01-cc93bbb7b44e.png)
![fgfs-screen-264](https://cloud.githubusercont

[2017-03-13 17:24] viktorradnai commented on #80
Fixed by #82

[2017-03-13 17:24] #80 closed

[2017-03-13 17:25] ghost commented on #80
Didn't you say the nose wheel should be thicker?

[2017-03-13 17:30] gilbertohasnofb commented on #80
@D-ECHO @viktorradnai perhaps the confusion is from my message above saying "fixed in `panelstab`". I was referring solely to the texture fix that @D-ECHO asked me to make, not to the whole issue of remodelling the wheels.

[2017-03-13 18:47] D-ECHO opened #89 "Redo fuselage 3d model"
e.g. the canopy/window lines are too sharp, they should be more round.
I will do this once I have much time ;)

[2017-03-13 20:26] gilbertohasnofb opened #90 "Instrument lights are always on"
It seems to me that some gauges have the instrument lights always on, does anyone know anything about this?

[2017-03-13 21:08] ghost commented on #90
I will fix the mapping things tomorrow. the Instrument Light is to make
Instruments better readable

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm>

--- Original-Nachricht ---
Von: Gilberto Agostinho
Betreff: [viktorradnai/flightgear-ask21] Instrument lights are

[2017-03-13 21:34] gilbertohasnofb commented on #90
@D-ECHO :+1: And so this means that once the mapping is fixed then the lights can be toggled off?

[2017-03-14 00:08] viktorradnai commented on #83
@D-ECHO, thanks for that. That page and the reference (https://sourceforge.net/p/flightgear/fgdata/ci/next/tree/Docs/model-combined.eff/README.model-combined.eff) did help but the best trick was this code: https://forum.flightgear.org/viewtopic.php?f=47&t=30175&sid=6c8b34784cb4061baff97367f53c72a2&start=15#p292338

I've added this to our model, not sure if I should commit it but it's definitely us

[2017-03-14 00:14] viktorradnai commented on #83
OK, I think I have it nailed :)

![fgfs-screen-283](https://cloud.githubusercontent.com/assets/4738178/23880370/359913dc-084b-11e7-9453-4b554b960a49.png)

[2017-03-14 00:35] viktorradnai commented on #83
OK, looking top down the wing still looks way too shiny when under a cloud, wonder if there is a reflection map to blame for this. From every other angle it looks pretty sweet, so I'm going to create a PR for this.

[2017-03-14 00:37] viktorradnai commented on #83
![fgfs-screen-288](https://cloud.githubusercontent.com/assets/4738178/23880867/682d670a-084e-11e7-8171-6017ed02286f.png)

[2017-03-14 03:47] viktorradnai opened #92 "Add ground shadow"
ALS can be used to add a ground shadow, and this would be a nice addition. I always found the lack of it very annoying.

[2017-03-14 09:01] gilbertohasnofb commented on #83
@viktorradnai

Yes you did, that looks stunning!

[2017-03-14 09:01] gilbertohasnofb commented on #83
Once this is merged, someone could post some screen shots at the forum as this is looking _really_ good!

[2017-03-14 15:42] ghost commented on #90
Actually not. I've been told by some fg glider pilots never to remove the instrument light as it was told to be important for readability.

[2017-03-14 15:54] gilbertohasnofb commented on #90
@D-ECHO I see, so you mean this is actually a feature and is something used in RL? I never heard of it :scream: :smile: :+1:

[2017-03-14 16:17] viktorradnai commented on #90
![fgfs-screen-289](https://cloud.githubusercontent.com/assets/4738178/23910499/d844960c-08d1-11e7-8112-da442b3248fd.png)
@D-ECHO @gilbertohasnofb I'm not sold on the idea of having them on. Can we at least turn them down a bit? I've tried to picture the worst case scenario for visibility here. Flying straight into the sun and zoomed out quite far. I can see how the lights help but maybe the effect

[2017-03-14 16:22] ghost commented on #90
I think we can add a menu option do en-/disable them and yes, I will add them to every instrument for commonality

[2017-03-14 16:23] viktorradnai commented on #83
![fgfs-screen-285](https://cloud.githubusercontent.com/assets/4738178/23910619/3efa8cda-08d2-11e7-9a13-4ac36ae76db6.png)
![fgfs-screen-286](https://cloud.githubusercontent.com/assets/4738178/23910620/3efc6c1c-08d2-11e7-8be5-2c1fd9a04604.png)

Here's a couple, but I'd encourage you to take a few more yourself. You get the best results with dawn / dusk light reflecting off the fuselage at a shallow

[2017-03-14 16:24] viktorradnai commented on #83
I'm going to close this and open another one to make the fuselage / wing material properties (reflectivity) the same.

[2017-03-14 16:24] #83 closed

[2017-03-14 16:26] viktorradnai opened #94 "Make wing and fuselage the same material"
Currently the wing and fuselage have different levels of shininess. I don't think this will be necessary to keep it, but if it is, then the effect XML files can be used to compensate. @D-ECHO Could you please change the .ac files so they are the same material?

[2017-03-14 16:38] gilbertohasnofb commented on #90
@D-ECHO Also, take for instance the AR-3201, every single part of the instrument is being lit, including the background and all white labels. I think that if that instrument does indeed have some form of light, it would be applied only to parts of it, right?

[2017-03-14 16:47] gilbertohasnofb opened #96 "improve instrument textures"

[2017-03-14 16:47] gilbertohasnofb commented on #96
I am almost done with this, a PR is coming in some minutes

[2017-03-14 17:00] gilbertohasnofb commented on #90
Also, can anyone find a picture of the cockpit showing the instruments with backlight on? The pictures I have seen show no light at all, so it's difficult to judge if our effect is correct or not.

[2017-03-14 17:01] ghost commented on #90
@gilbertohasnofb This is NOT present in RL, it's only added into fg for convenience

[2017-03-14 17:06] gilbertohasnofb commented on #90
I see now, you wrote "fg glider pilots" but I simply read "glider pilots". Oh well, that changes everything then

[2017-03-14 17:20] ghost commented on #92
![fgfs-screen-111](https://cloud.githubusercontent.com/assets/12275960/23913319/daf84f54-08e2-11e7-9fa1-60907398f20b.png)

[2017-03-14 18:12] ghost commented on #78
I'll try to do this as well, just for fun ;)

[2017-03-14 18:26] gilbertohasnofb commented on #94
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/95

[2017-03-14 18:26] #94 closed

[2017-03-14 18:27] gilbertohasnofb commented on #92
Closed via #95

[2017-03-14 18:27] #92 closed

[2017-03-14 18:27] gilbertohasnofb commented on #90
Closed via #95

[2017-03-14 18:27] #90 closed

[2017-03-14 18:43] #96 closed

[2017-03-14 18:48] ghost commented on #81
What are those two bronze things left to the ball?

[2017-03-14 18:49] ghost commented on #61
Only thing we still need is the ft altimeter

[2017-03-14 19:23] gilbertohasnofb opened #99 "Improvements to the interior"
1) add hole (trim indicator) to the right side of the interior for both the pilot and instructor, see:

![cockpit](https://cloud.githubusercontent.com/assets/5700795/23918608/fb30f3a0-08f3-11e7-8f57-da6d79d73021.jpg)

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/23918614/017cd56c-08f4-11e7-9e8f-bbb6e87f8d3b.png)

2) add stickers as 3D rectangles and create textures for the

[2017-03-14 19:27] viktorradnai commented on #99
That "hole" is a visual trim indicator. There is something moving in there when you move the trim, unless it's been removed. Since the trim lever's position is self-explanatory, our gliders generally do not have it any more.

[2017-03-14 19:29] viktorradnai commented on #78
@D-ECHO I have taken a shot at the code taken from the DG101 but at some point it's looking for the glider's position in the global coordinate system (not lon/lat) and I haven't found a way to obtain that yet. Some googling would probably yield a solution though.

[2017-03-14 19:45] viktorradnai opened #100 "Airbrake improvement"
@D-ECHO please make the airbrakes come out as far as it's shown on page 6 in the manual: https://www.capmembers.com/media/cms/ASK21__Schleicher__Flight_Manual_0F12AEE54A4A2.pdf

The front of the airbrake is painted orange: http://rs231.pbsrc.com/albums/ee247/jetpack_photos/Revell%20Gliders/airbreak_zps1bacd991.jpg~c200

Not sure about the back, I'll try to check next time. Could well be the same c

[2017-03-14 20:08] gilbertohasnofb commented on #99
@viktorradnai @D-ECHO Ok, so I updated the original description and we can improve the interior by carving that hole and adding the stickers all in one single issue

[2017-03-14 20:10] viktorradnai commented on #81
I think they are for attaching lead weights if the pilot in the front is
too light.

On 14 March 2017 at 18:48, D-ECHO <notifications@github.com> wrote:

--
My other sig is hilarious

[2017-03-14 21:43] viktorradnai commented on #92
@D-ECHO the shadow implementation has various severe bugs. I have seen incomplete shadows, shadows aligned wrong at low sun angles and somehow I even managed to get the shadow detached from the ground and attached to the model. Are these all Flightgear bugs, or is there anything we can do to fix them?

![fgfs-screen-293](https://cloud.githubusercontent.com/assets/4738178/23923624/3eb4afb2-08ff-11e

[2017-03-14 22:21] gilbertohasnofb commented on #92
The shadow seems to work well at noon but looks strange at other times (it seems to rotate). But about your last picture, Viktor, did you by any chance reset the simulator or used the position in the air option? That used to make strange things with the shadow with the c172p, and that was due to a known FG problem (resetting and position aircraft in the air are buggy)

[2017-03-14 22:48] gilbertohasnofb opened #101 "Instructor view seems to use wrong cubemap"
Back seat seems to be using the front shadow cubemap

[2017-03-14 22:52] gilbertohasnofb opened #103 "Remake colour cubemap now that interior textures changed"
Recreate the colour cubemap using the new textures (the seat is no longer blue for instance). Also, it seems to me that the current one has the sides reversed, notice in the image below how the yellow and blue levers are reflected on the right-hand side of the glass instead of the left-hand side where they are located:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/23925737

[2017-03-14 22:54] viktorradnai commented on #92
Indeed, the first problem is the shadow rotating -- looks like the
orientation code has an extra, unwanted rotation in it. The second problem
was caused by a reset. Looks like we need to put this off until these bugs
are fixed, don't we?

On 14 March 2017 at 22:21, Gilberto Agostinho <notifications@github.com>
wrote:

--
My other sig is hilarious

[2017-03-14 23:02] viktorradnai commented on #101
Is #87 caused by this?

[2017-03-14 23:21] gilbertohasnofb commented on #101
@viktorradnai Hmm I see them fine here:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/23926598/4c8b795c-0915-11e7-957d-cfd50b8be7ec.png)

How are you changing to the instructors' seat? I hit Shift+V two or three times to cycle back and there are shadows there.

[2017-03-14 23:34] viktorradnai commented on #101
Actually the problem is that the shadows in the front and rear cockpit are done using separate maps
 and this is noticable in the footwell.
![fgfs-screen-302](https://cloud.githubusercontent.com/assets/4738178/23926901/c1cdfc3c-090e-11e7-85a8-81c83c7693a5.png)

[2017-03-15 16:34] ghost commented on #100
![fgfs-screen-112](https://cloud.githubusercontent.com/assets/12275960/23959346/3a80487e-09a5-11e7-9275-a2945644755b.png)
Step 1

[2017-03-15 16:38] viktorradnai commented on #100
Wow, this looks great! But it seems that the left airbrake is missing a support rod, it's only held by one.

[2017-03-16 11:05] gilbertohasnofb opened #106 "Holes in the 3D model"
There are some holes in the 3D model, in particular close to the control surfaces. See:

![ask21-4 copy](https://cloud.githubusercontent.com/assets/5700795/23993527/3063806c-0a41-11e7-8a64-66111a126ed7.jpg)

![bug2](https://cloud.githubusercontent.com/assets/5700795/23993397/a902f9d6-0a40-11e7-8778-f5d773e78b47.jpg)

![bug3](https://cloud.githubusercontent.com/assets/5700795/23993395/a9014bea-0a40

[2017-03-16 15:02] ghost commented on #106
rudder and elevator should be fixed in PR #107, aileron seems to be fine to me

[2017-03-16 15:03] ghost commented on #100
Model part done in PR #107
@gilbertohasnofb you wanna do the texture part (orange) or shall I?

[2017-03-16 15:03] ghost commented on #103
will do once the interior texture is safe

[2017-03-16 15:06] ghost commented on #101
1. they use different maps because the situation and viewpoint is rather different, this should be no problem.
2. I just discovered that it indeed is using the wrong cubemap, a typo, will add this to #107

[2017-03-16 15:07] ghost commented on #101
Maybe irradiance maps http://wiki.flightgear.org/ALS_technical_notes#Irradiance_maps can help for the fuselage? I never found out how to use them exactly but it seems the right way..

[2017-03-16 15:16] ghost commented on #81
Is on it's way... :D

[2017-03-16 16:06] ghost commented on #81
I added it to #107
@gilbertohasnofb in your repo I added it to the xcf, would you mind doing the tex? :D

[2017-03-16 16:14] ghost commented on #55
To be done:
  - improve spoiler effectiveness
  - greater adverse yaw (close to zero at the moment)

[2017-03-16 16:33] ghost commented on #55
With these values it seems to be rather realistic:
`
        <flap0 start="0.43" end="0.97" lift="1.3" drag="1.7"/>
        <spoiler start="0.34" end="0.44" lift="-4" drag="75.5"/>`

[2017-03-16 17:02] D-ECHO opened #108 "Screenshots"
This issue is here to gather nice-looking screenshots for future announcement posts/splash screens or wiki (newsletter) articles:
Here are some I just took at Innsbruck:
![fgfs-screen-114](https://cloud.githubusercontent.com/assets/12275960/24008641/77739b78-0a72-11e7-872c-448dfc1c6a16.png)
![fgfs-screen-115](https://cloud.githubusercontent.com/assets/12275960/24008644/777b7a78-0a72-11e7-91b2-79bf

[2017-03-16 17:12] ghost commented on #99
Pushed placard objects to #107 and uvmap to dev repo @gilbertohasnofb

[2017-03-16 17:18] HHS81 opened #109 "Reflection type=2 is obsolete"
the used reflection-type=2 (<reflection-type type="int">2</reflection-type>) is obsolete, as the underlying issue is fixed now in FlightGear 2017.2.0.

[2017-03-16 18:09] viktorradnai commented on #109
I'm aware of this and the parameter will be removed when FG 2017.2 comes
out.

On 16 Mar 2017 5:18 p.m., "HHS81" <notifications@github.com> wrote:

[2017-03-16 18:32] ghost commented on #109
Does this mean it won't work in 2017.1 after this?

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm>

--- Original-Nachricht ---
Von: Viktor Radnai
Betreff: Re: [viktorradnai/flightgear-ask21] Reflection type=2 is obsolete
(#109)
Datum: 16.03.2017, 19:09 Uhr
An: vi

[2017-03-16 18:43] viktorradnai commented on #109
If we remove it now, the model will look too dark under most lighting conditions.

[2017-03-16 18:58] HHS81 commented on #109
With 2017.1.0 and older the reflection will look darker (grey-tint-issue), that's why there was refl-type=2 to select. This issue is now fixed in FGData, refl-type=2 obsolete and will be available with the next stable version. Just look Eriks PC-9M pictures in the forum how it looks much better now

[2017-03-16 19:06] ghost commented on #109
so it will Look better if we remove this part after 2017.2 is released than
if it's kept? because if not I'll rather go with Reverse compatibility

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm>

--- Original-Nachricht ---
Von: HHS81
Betreff: Re: [viktorradnai/fl

[2017-03-16 21:12] HHS81 commented on #109
@D-ECHO  refl-type=2 is currently kept. But even if we remove it, it will automatically fall back to type=1.

**Refl-Type=2:**
![fgfs-screen-003](https://cloud.githubusercontent.com/assets/12649375/24018754/87f6acec-0a95-11e7-9f5a-53ef3b809585.jpg)
![fgfs-screen-004](https://cloud.githubusercontent.com/assets/12649375/24018757/87fda6e6-0a95-11e7-953f-e4e02de8cdb4.jpg)

**Refl-Type=1 New:**
![fgfs-

[2017-03-16 23:43] gilbertohasnofb commented on #106
@D-ECHO elevators and ailerons are looking fine, but the rudder still has some issues, see this image here:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/24023159/bd2a16aa-0aaa-11e7-8911-ffbae61ac66e.png)

Notice how at the very end of the fuselage, where it joins the rudder, there is still a circular hole

[2017-03-16 23:46] gilbertohasnofb commented on #100
I can do it if you would like. What about if I add an appropriate orange texture to the top right corner of `Models/blank-wings.png`? Also, do you have a reference how that should look like or should I just create a metallic orange texture?

[2017-03-16 23:47] gilbertohasnofb commented on #103
@D-ECHO :+1: I think we are almost there. Once I get those stickers done I think the interior will be pretty much done, but let's see, no rush

[2017-03-16 23:48] viktorradnai commented on #100
It's not shiny IIRC. It might be made of fibreglass as well.

On 16 Mar 2017 11:46 p.m., "Gilberto Agostinho" <notifications@github.com>
wrote:

[2017-03-16 23:48] gilbertohasnofb commented on #81
@D-ECHO

First of all, that's _our_ repo as well :smile: I will work on those textures as soon as I can, I am super busy today and tomorrow but perhaps I will have time for a quick break to take a look at those.

[2017-03-16 23:50] gilbertohasnofb commented on #101
@D-ECHO I believe the c172p makes use of the irradiance effect, take a look at there. Perhaps drop a message to @wlbragg if you have concrete questions, as he is the one who implemented it in that other project.

[2017-03-16 23:53] gilbertohasnofb commented on #108
@D-ECHO Great idea, and that second shot is stunning! Here are some of mine :smile:

![](https://cloud.githubusercontent.com/assets/5700795/23953779/d85244cc-0995-11e7-8c40-cbdc782e00e7.png)

![](https://cloud.githubusercontent.com/assets/5700795/23953780/d8529ad0-0995-11e7-8b1f-ac1b6f0de4a0.png)

![](https://cloud.githubusercontent.com/assets/5700795/23926524/f9ddc6d8-0914-11e7-9b86-1c890c79ba92.

[2017-03-16 23:55] viktorradnai commented on #81
Guys, I'll be at the gliding club tomorrow, so let me know if you'd like me
to take photos of specific parts or angles.

On 16 March 2017 at 23:48, Gilberto Agostinho <notifications@github.com>
wrote:

--
My other sig is hilarious

[2017-03-17 00:14] gilbertohasnofb commented on #81
Oh, yes please:

- speed brakes
- a picture of what is behind the pilot's panel, possibly with the opened canopy for better viewing (you said there were a bunch of cables and other things)
- pictures of the sides of the seat where those stickers are, and where the trim reference tabs are

Enjoy flying!

[2017-03-17 14:01] ghost commented on #106
see #110 :D

[2017-03-17 14:07] ghost commented on #100
@gilbertohasnofb in the texture repo I added the speedbrake uvmap to D-3981-wings.xcf, at this position you can paint it :D it should be the same for front and back

[2017-03-18 10:57] gilbertohasnofb commented on #100
@D-ECHO that's great, thanks a lot! I am waiting for @viktorradnai 's pictures to see exactly how this should be done. Also, I am _very_ busy_ until Monday evening (job + PhD application), but I will get to this texture (as well as the bottom panel) very very soon.

[2017-03-18 11:00] gilbertohasnofb commented on #106
Closed via #110

[2017-03-18 11:00] #106 closed

[2017-03-18 16:41] ghost commented on #100
No problem @gilbertohasnofb take your time, RL is always the most important! :D

[2017-03-18 18:22] viktorradnai commented on #100
Hi, i've uploaded some pics to Google Drive. They were taken with a phone
in poor light so some are blurry but I hope they'll help. I was going to
take better ones today but the weather was so bad we didn't even fly. I'll
take more tomorrow if I can.

On 18 Mar 2017 16:41, "D-ECHO" <notifications@github.com> wrote:

No problem @gilbertohasnofb <https://github.com/gilbertohasnofb> take your
time, R

[2017-03-18 19:24] gilbertohasnofb commented on #100
@D-ECHO Great. I should be able to work on these on Monday or Tuesday
@viktorradnai excellent pictures, thanks a lot!

[2017-03-19 07:45] ghost commented on #101
I tried the irradiance map (also in c172p) but I don't think it looks that good...
However, I'd close this issue as the wrong cubemap is solved

[2017-03-19 07:45] #101 closed

[2017-03-19 07:46] ghost commented on #87
-wrong cubemap is fixed but we still need a possibility for darker shading in the footwell

[2017-03-19 07:47] ghost commented on #50
I'll close this, issue #61 will stay open for ft altimeter

[2017-03-19 07:47] #50 closed

[2017-03-19 23:40] viktorradnai opened #112 "Keyboard mapping to close window panels"
I'd like to have one button (say d or D) to open / close the window panels. It's really annoying having to close both of them individually, using the mouse, on every launch, or having to put up with the extra wind noise.

[2017-03-19 23:48] viktorradnai commented on #100
@gilbertohasnofb @D-ECHO I have uploaded a few more pictures to Google Drive. They show some more detail such as the cable attachment points for the rudder (inside their fairing at the end of the tail), the trim adjusters, air vents, the area behind the instructor's head (above the wing main spar), the pitot tube inside the hole in the nose, etc. I have also taken pictures of complete gliders with

[2017-03-20 00:52] viktorradnai commented on #108
![20170319_134610](https://cloud.githubusercontent.com/assets/4738178/24086439/5c81e3fa-0d07-11e7-8fde-0286875a1894.jpg)
![fgfs-screen-307](https://cloud.githubusercontent.com/assets/4738178/24086442/68d8e130-0d07-11e7-9aee-5fa1d452de6e.png)

[2017-03-20 00:53] viktorradnai commented on #108
![fgfs-screen-305](https://cloud.githubusercontent.com/assets/4738178/24086452/90252eec-0d07-11e7-9430-a54a8c39ec34.png)

[2017-03-20 00:55] viktorradnai opened #113 "Right side of rudder has wrong texture"
Please see screenshot, the rudder is using the wrong part of the texture.
![fgfs-screen-303](https://cloud.githubusercontent.com/assets/4738178/24086466/c01e92d2-0d07-11e7-9e69-a3acb44ebdfb.png)
![fgfs-screen-304](https://cloud.githubusercontent.com/assets/4738178/24086467/c7f9f83e-0d07-11e7-95a3-0e14139eadee.png)

[2017-03-20 00:56] viktorradnai commented on #108
FYI on the last image the airbrake should be orange but it isn't. Though it's still a decent screenshot so we might want to use it anyway.

[2017-03-20 08:57] gilbertohasnofb commented on #112
Would it perhaps be better to make them closed by default then? In which position do you normally find them in the gliders of your soaring club?

[2017-03-20 08:58] gilbertohasnofb commented on #100
:+1:

[2017-03-20 08:59] gilbertohasnofb commented on #113
This has to do with UV-mapping, so @D-ECHO could you please take a look at it when you have time?

[2017-03-20 09:00] gilbertohasnofb commented on #108
@viktorradnai quite an amazing picture this last one! :clap: But perhaps you would like to hide the toolbar next time (`F10`)

[2017-03-20 09:37] viktorradnai commented on #112
Yes, it's necessary both to access the locking mechanism and the handle (a
small metal tab fitted to the frame on the inside) from outside. I
sometimes forget to close it on actual launches :)

On 20 March 2017 at 08:57, Gilberto Agostinho <notifications@github.com>
wrote:

--
My other sig is hilarious

[2017-03-20 09:39] viktorradnai commented on #108
It's set to autohide, I just didn't wait long enough. It can be cropped out though, if we want to use it.

BTW, even from the screenshot you can tell this was taken in the UK :D

[2017-03-20 11:30] gilbertohasnofb commented on #112
I see, so then the keyboard shortcut is best indeed.

[2017-03-20 12:21] ghost commented on #112
So we'll take d to open both and D to close them?

[2017-03-20 12:30] gilbertohasnofb commented on #112
What about `d` toggling them? I.e. if opened, then `d` closes it, if closed then `d` opens it?

[2017-03-20 12:31] ghost commented on #112
Okay :+1:

[2017-03-20 12:40] ghost commented on #112
I tried with this code but somehow it only closes but you can't open it anymore:

            <key n="100">
                <name>d</name>
                <desc>Toggle Both Windows</desc>
                <binding>
                    <condition>
                        <less-than>
                            <property>sim/model/door-positions/frontwin/position-norm</property>

[2017-03-20 12:44] D-ECHO commented on #100
@viktorradnai I can't find the image showing the pitot tube, where is it? ;)

[2017-03-20 13:13] ghost commented on #113
Fixed in #114

[2017-03-20 13:25] viktorradnai commented on #100
The photo needs to be manipulated to bring out detail in the shadow. I'll
try to do that later.

On 20 Mar 2017 12:44, "D-ECHO" <notifications@github.com> wrote:

[2017-03-20 13:26] ghost commented on #100
Yep I found it sry :D

Am 20.03.2017 um 14:25 schrieb Viktor Radnai:

[2017-03-20 19:50] gilbertohasnofb commented on #112
@D-ECHO if nobody figures it out until tomorrow then I will try having a look at it. But perhaps take a look on how FG handles landing gear retraction/extension in other planes as the code should be nearly identical as in our case.

[2017-03-20 19:50] gilbertohasnofb commented on #100
Guys, tomorrow I will have some free time so I will take care of the bottom panel and airbrakes textures.

[2017-03-21 15:59] ghost commented on #113
Closed through #114

[2017-03-21 16:03] gilbertohasnofb commented on #112
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/114

(shortcut used is `Shift+D`)

[2017-03-21 16:03] #112 closed

[2017-03-21 16:18] ghost commented on #99
Once placards and bottom panel textures are done I'm going to create new cubemaps and splash screens

[2017-03-21 16:26] ghost commented on #55
Anything to be done about this?

[2017-03-21 16:35] viktorradnai commented on #55
Still in progress.

On 21 Mar 2017 17:26, "D-ECHO" <notifications@github.com> wrote:

[2017-03-21 17:39] gilbertohasnofb commented on #100
@D-ECHO In which branch did you make the modifications to the spoiler? I have seen that in the ASK21-textures repo you added the UV-map layer to the file `D-3981-wings.xcf`, but once I have the texture ready where should I push it to?

[2017-03-21 17:41] gilbertohasnofb commented on #99
That sounds good, but perhaps we need to carve those holes for the trim references before redoing the cubemaps. And do the shadow cubemaps need to be modified? I have manually altered them, so my modifications would be lost.

[2017-03-21 17:41] ghost commented on #100
Branch newspoiler :D

Am 21.03.2017 um 18:39 schrieb Gilberto Agostinho:

[2017-03-21 17:42] ghost commented on #99
Nope I'll only change the colormaps :D

and well, I'll take care of the trim hole later :D

Am 21.03.2017 um 18:41 schrieb Gilberto Agostinho:

[2017-03-21 17:46] gilbertohasnofb commented on #99
:+1:

[2017-03-21 17:48] gilbertohasnofb opened #115 "lower shadow z position"
I know that it's common to make the z-position of the shadow to be slightly > 0 as to avoid z-fighting with the ground, but our shadow is way too high and crosses the fuselage, and can be seen from inside from the instructor's view.

![fgfs-screen-005](https://cloud.githubusercontent.com/assets/5700795/24162126/d26857ec-0e66-11e7-8709-bf7760ce7d74.png)

![fgfs-screen-006](https://cloud.githubuserc

[2017-03-21 17:59] HHS81 commented on #55
https://forum.flightgear.org/viewtopic.php?f=4&t=31889

[2017-03-21 19:33] ghost commented on #99
So I guess we're now set with the texturing for the moment, I'll regenerate the color cubemaps tomorrow ;)

[2017-03-21 19:39] #100 closed

[2017-03-21 19:41] gilbertohasnofb commented on #103
@D-ECHO I think the interior textures are quite safe now

[2017-03-21 19:42] gilbertohasnofb commented on #99
Placards done, so now it's just a matter of creating the trim reference holes.

[2017-03-22 16:38] #81 closed

[2017-03-22 16:40] ghost commented on #103
see #118

[2017-03-24 15:50] ghost commented on #115
(Partly) fixed in #118

[2017-03-27 08:20] viktorradnai opened #119 "Cockpit view inaccuracies"
There are a few things that are wrong with the cockpit still. I'll make a list here, feel free to break them out into separate issues. The first two are mentioned in #79 and there are a couple of pictures too.

1. The instructor's panel has the wrong shape
2. The front seat has the wrong shape when viewed from the instructor's seat
3. The floor should be flat in the rear footwell but curved in fro

[2017-03-27 08:25] viktorradnai commented on #119
Regarding item 15 above, the fibreglass showing through the airbrake hole is really the side of the glider, so it's also OK to texture that the same way as the front of the footwell. Whichever is easier.

[2017-03-27 12:05] gilbertohasnofb commented on #119
Ok, so I can help with a couple of these (concerning textures), but I just need some clarifications:

8 I can create a texture for it, perhaps @D-ECHO could UV-map it to `parts.png` in the position shown in the picture below (in pink)
![parts](https://cloud.githubusercontent.com/assets/5700795/24355336/cb600312-12f5-11e7-9f3c-59e4ffb51d03.png)

11 do you mean the these three screws here? If so, th

[2017-03-27 12:46] ghost commented on #119
Wow, much to be done :laughing:
But first, I'd like to tell you that I am not going to improve the current interior model any further due to significant inaccuracies in shape e.g. of the windows/doors.
Instead I am going to do a new model (fuselage+interior), which will take a bit of time but I think it's really worth it :D

[2017-03-27 12:50] ghost commented on #119
Btw, yesterday I've been flying the (real) ASK21 for the first time (fun fact: We also removed the main wheel fairing after running 10cm into ground and having very much dirt in it)

[2017-03-27 13:28] gilbertohasnofb commented on #119
@D-ECHO It's up to you, either way (if you get to do any of these improvements done in the current model or create a new model) just let me know if you need any help with the textures.

Oh, that's great! I always wanted to try soaring but never had the opportunity!

[2017-03-27 13:51] ghost commented on #119
@gilbertohasnofb it would be great if you could do a texture for the trim indicator somewhere in the interior.png :D

[2017-03-27 14:11] gilbertohasnofb commented on #119
@D-ECHO Ok, I will do that. Should I also add the top of the vent and the yellow fibreglass panel textures in the positions I have shown here https://github.com/viktorradnai/flightgear-ask21/issues/119#issuecomment-289433745 ?

[2017-03-27 15:03] ghost commented on #119
Yep pls

[2017-03-27 17:07] gilbertohasnofb commented on #119
Nearly done with these textures. This is what I got for the trim texture, and this is how it should be used:

![trim](https://cloud.githubusercontent.com/assets/5700795/24368410/a19a2bb8-1320-11e7-99f9-fa052a6f1d04.png)

Makes sense?

[2017-03-27 17:42] gilbertohasnofb commented on #119
@D-ECHO new textures are done, see:

- in `panel.png`, there is a new texture for those three large screws
![panel](https://cloud.githubusercontent.com/assets/5700795/24369746/489fb230-1325-11e7-8769-1a72b275099c.jpg)

- in `parts.png`, you will find the textures for the trim tab, for the vent opening and for the fibreglass interior of the sides (to be seen through the holes of the speedbrake hand

[2017-03-28 16:11] gilbertohasnofb opened #121 "yaw string for instructor"
In [this video](https://www.youtube.com/watch?v=UkEuUn4E2Uw), the instructor also has the yaw string above his cockpit, isn't this missing in our plane? Something on this position:

![string](https://cloud.githubusercontent.com/assets/5700795/24415477/e4ef6ba0-13e1-11e7-9c9b-f7671c987e22.png)

If we add this, the default viewpoint of the instructor may need to change a bit as I don't think the str

[2017-03-28 16:14] gilbertohasnofb opened #122 "raise polycount for the hoop around cockpit"
@D-ECHO Perhaps we could raise the number of polys in the hoop visible from the instructor's view. As it is right now, it looks a bit too "chopped" to me. And we don't need to increase the polycount for the whole fuselage, just the hoop and the glass canopy would suffice

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/24415620/5c87aee8-13e2-11e7-8992-7f98a75d72dd.png)

What

[2017-03-28 17:17] ghost commented on #122
You're right, but unfortunately that's not very easy to do...

[2017-03-28 17:46] viktorradnai commented on #121
@gilbertohasnofb thanks for raising this. Yes, the instructor definitely has a yawstring, and yes, the instructor's view is definitely way too zoomed by default.

[2017-03-28 17:54] viktorradnai commented on #119
@gilbertohasnofb I mean the four silver screws here, two on each side:
![fb30f3a0-08f3-11e7-8f57-da6d79d73021](https://cloud.githubusercontent.com/assets/4738178/24419577/83a0908a-13e7-11e7-84e0-577eb1d634f1.jpg)
Two of them are just backwards from the airbrake lever, while there are another two on the opposite side. Note the line that runs next to them, along the edge of the cockpit, back to the

[2017-03-28 18:19] ghost commented on #122
I've increased it a bit.. what do you think?
![fgfs-screen-126](https://cloud.githubusercontent.com/assets/12275960/24420597/b28a3d40-13f3-11e7-9ef3-e2302c9fd562.png)

[2017-03-28 18:21] gilbertohasnofb commented on #122
Oh, this looks _so_ much better!! :clap:

[2017-03-28 18:22] gilbertohasnofb commented on #119
@viktorradnai ah, I see, so I will add textures for these screws to `parts.png` and then later @D-ECHO can add the screw models.

[2017-03-28 18:24] ghost commented on #119
I've already added the screw models :D waiting for the tex

[2017-03-28 18:25] ghost commented on #119
If you'd like to try the new int, use branch newint :D

[2017-03-28 18:29] ghost commented on #119
1,3,6,7,8,9,10,11,13,14 and 15 more or less fixed in branch newint :D

5 is difficult to fix because it's very complicated (if not impossible) to animate that cloth movement with stick

[2017-03-28 18:30] #89 closed

[2017-03-28 18:38] gilbertohasnofb commented on #119
@D-ECHO I will add the new textures to `newint` then

[2017-03-28 18:39] ghost commented on #119
:+1:

Am 28.03.2017 um 20:38 schrieb Gilberto Agostinho:

[2017-03-28 18:53] gilbertohasnofb commented on #121
@D-ECHO thanks for adding this to the branch `newint` but I found a bug: the strings of are visible through solid objects, is there a way of fixing this? See:

![fgfs-screen-004](https://cloud.githubusercontent.com/assets/5700795/24422076/8f0863f6-13f8-11e7-9230-3ebfc211ec19.png)

[2017-03-28 19:05] gilbertohasnofb commented on #122
The problem is that they sometimes fall to the other direction when not in flight, so I suspect that even with this increase they will be seen though solid parts. Also, the position might be too high now compared with the real cockpit

[2017-03-28 19:06] gilbertohasnofb commented on #122
Please disregard my last comment

[2017-03-28 19:29] gilbertohasnofb commented on #119
@D-ECHO Ok, new textures are added (please do a `git pull`) but there are quite a lot of issues we need to tackle. First, here are the new textures:

![instructions](https://cloud.githubusercontent.com/assets/5700795/24423362/fa059300-13fc-11e7-8a69-7f12d1bc2887.jpg)

A is the texture for the side screws, B is for the nose, C is the back of the placard for opening the canopy and D will be explaine

[2017-03-28 19:31] gilbertohasnofb opened #123 "the animation of the pilot rudder pedals is buggy"
The animation of the pilot rudder pedals is buggy:

![fgfs-screen-005](https://cloud.githubusercontent.com/assets/5700795/24423610/dd903fe4-13fd-11e7-8dfd-a43737cdb4d4.png)

Or is this how it is supposed to look like?

[2017-03-28 19:32] gilbertohasnofb opened #124 "Move instructor's hook placard a bit closer to handle"
Move instructor's hook placard a bit closer to handle

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/24423638/f8d9e426-13fd-11e7-9a00-7ba0474ed34d.png)

[2017-03-28 19:32] gilbertohasnofb commented on #119
@D-ECHO one more thing, the scew on top of the panel is being cut by the registration, would it be possible to fix it?

![fgfs-screen-004](https://cloud.githubusercontent.com/assets/5700795/24423676/1c268d4e-13fe-11e7-9cc5-7e7d0683c5d9.png)

[2017-03-28 21:56] viktorradnai commented on #119
@D-ECHO nice work, lot of things look better. There are a bunch of things that are slightly wrong again -- you have added more detail which gives more room for errors :) Would you like me to open another issue with them or list them out here?

[2017-03-28 21:58] viktorradnai commented on #119
@gilbertohasnofb I think the instrument panel needs to be rearranged to make the instruments clear of the screws. I have promised to work on this but I might not have the time until mid-next week. I'll try to do a quick fix in the meantime.

[2017-03-29 00:27] viktorradnai commented on #79
![fgfs-screen-310](https://cloud.githubusercontent.com/assets/4738178/24432971/9e919660-141d-11e7-981f-b4947f552344.png)

Looks a lot better now, but everything forward of the pedals should be raw fibreglass. Not sure about the back of the front seat, that might be unpainted as well. Perhaps leave it grey for contrast?

[2017-03-29 00:28] viktorradnai commented on #79
Also is it just me or did the pilot figures get bigger?

[2017-03-29 00:42] viktorradnai commented on #79
@D-ECHO OK, with different light I can see that the seat has the wrong shape still. Consider that the entire seat (with the armrests) is a single curved sheet of fibreglass. The seat pan is much more curved, like the inside of a bathtub. When looked at from behind, it's possible to see right under it. In your model the armrests are too close to the seatback / seat base and the instructor's feet wo

[2017-03-29 09:40] viktorradnai commented on #119
@gilbertohasnofb @D-ECHO see PR #125 for the rearranged instrument panel . Feel free to suggest changes, we can even have different arrangement for different countries. For some reason, in the UK (or at least in our club) the preference is to have the altimeter below the ASI, and both of them on the left side of the panel.

[2017-03-29 10:47] gilbertohasnofb commented on #79
I can make a texture for that.

I don't know what you mean, but I absolutely hate all these human figures in FG, the models are just terrible so I always disable them.

[2017-03-29 10:58] gilbertohasnofb commented on #79
@viktorradnai @D-ECHO I have pushed a new version of `parts.png` to the `newint` branch and there you will find the new texture for the back side of the seats:

![seat](https://cloud.githubusercontent.com/assets/5700795/24451508/677c87fe-147f-11e7-8bc7-7679eb57af4d.jpg)

[2017-03-29 11:01] gilbertohasnofb commented on #119
Perhaps that's the best way to go, I am fearing that a lot of the things we need to do will get lost as we are having conversations all over the place (but perhaps you guys have a better memory than me for these)

It is merged now, so @D-ECHO can lower that top screw in the front panel

[2017-03-29 14:50] viktorradnai commented on #119
@gilbertohasnofb I'd rather lower the callsign label. Or both.

I think this issue can be closed after the texturing issues have been resolved. I'll open a new one with the issues that are still outstanding.

[2017-03-29 15:35] gilbertohasnofb commented on #119
@viktorradnai according to both cockpit photographies in this thread, the top screw in the pilot's panel should be considerably lower than what we got. But I agree we could lower the callsign label as well.

:+1:

[2017-03-29 22:10] viktorradnai commented on #79
@gilbertohasnofb Thanks, is that texture applied though? I haven't seen any difference. Btw, if I wanted to play with textures, what would be the best way to change which one a particular 3d object uses (and which area, of course)? How do you do it?

[2017-03-29 22:40] gilbertohasnofb commented on #79
No, I just pushed the altered texture file, @D-ECHO has to UV-map it to the model.

This is what is called UV-mapping (i.e. applying a texture to a 3D object) and you have to do it in Blender. I am not familiar with it to be honest, which is why I create textures but ask D-ECHO to apply them. Is there something specific that needs texture work?

[2017-03-30 00:16] viktorradnai commented on #79
Not really, I just thought that sometimes it might be quicker if i made a change than opening an issue and describing exactly and precisely what I'd like done :) At some point I'd like to learn Blender, currently I'm happy if I can import a model and navigate around it :)

[2017-04-04 13:17] D-ECHO opened #126 "Simple electric system"
Hi!
After adding the electric switches now, I'd like to ask which of the instruments need electrical power?

ATM I'm doing it like this:

![flowchart](https://cloud.githubusercontent.com/assets/12275960/24658714/cf0a543a-194a-11e7-8663-79c1f65b0219.png)
(done by draw.io)

Is this correct? Or are the front and rear circuits independent?

![flowchart2](https://cloud.githubusercontent.com/assets/1227

[2017-04-04 14:01] viktorradnai commented on #126
Yes. For the turn and slip indicator to work, both panel switches need to
be on. The radio and electric vario both have their own on-off switches on
the device. Since the turn and slip indicator doesn't have one, the extra
switch is added to the panel. The master switch disconnects the battery
from the system so it switches off everything.

On 4 Apr 2017 14:17, "D-ECHO" <notifications@github.com>

[2017-04-04 15:14] ghost commented on #126
And is the front master switch for the front panel only or for both?

[2017-04-04 15:23] gilbertohasnofb commented on #126
@D-ECHO very nice diagrams by the way

[2017-04-04 15:41] ghost commented on #126
Partly done in fabf4a2fa864aed98c6eb9ce0a372625e4660a0a

[2017-04-04 15:41] ghost commented on #124
Fixed in fabf4a2fa864aed98c6eb9ce0a372625e4660a0a

[2017-04-04 16:05] ghost commented on #121
It's actually hanging down in front of the objects, I'll try to fix

[2017-04-04 16:17] ghost commented on #121
Should be fixed in 81870149eb427de88b60c2d6801d6effcb817490

[2017-04-10 05:52] D-ECHO opened #127 "Louder wind sound"
Been flying the K21 yesterday again and the wind is much more pronounced in the real aircraft than we have it here. Especially around 120kmh or in thermals it gets really really loud, maybe we have to correct the sound factor for this?

[2017-04-10 05:55] D-ECHO opened #128 "Simulate tail "rattling" close to stall"

[2017-04-10 05:57] D-ECHO opened #129 "Add red markings to GMeter"
Should we use 6.5/-4.0 (values for below Vmo) or 5.3/-3.0 (values for above Vmo)?

[2017-04-18 23:43] gilbertohasnofb commented on #99
@D-ECHO how are the modifications to `newint` branch doing? Have you tried applying the texture I made for the back side of the seats?

[2017-04-18 23:45] gilbertohasnofb opened #130 "Aircraft list options"
On FGRun, I see two options for our aircraft here:
- ASK 21 Passenger/Instructor View
- Schleicher ASK 21 Glider

The second one works fine, the first one loads an "invisible" aircraft (i.e. no 3D model...). Do we need this first option or should we simply remove it?

*Correct Typo (D-ECHO)

[2017-04-19 05:30] ghost commented on #99
Errrrr... sorry will do now :D

[2017-04-19 05:31] ghost commented on #130
Well, the passenger/instructor view is exactly what it says, you can sit on the passenger/instructor seat in the ASK21 via multiplayer :D

[2017-04-19 06:35] ghost commented on #99
Done ;)

[2017-04-19 06:45] ghost commented on #119
@viktorradnai sorry for messing around in your first post but this way we can see what's done/to be done much better :D

[2017-04-19 07:07] viktorradnai commented on #130
I should point out that the manufacturer is Schleicher, not Schneider. It's trivial to fix but I don't want to push changes to someone else's working branch.

[2017-04-19 07:09] ghost commented on #130
It's not a failure in the aircraft it's the failure in the issue message :D

[2017-04-19 09:39] gilbertohasnofb commented on #130
Sorry guys but the current labelling is _extremely_ unclear. The very top option "ASK 21 Passenger/Instructor View" is not mentioning anything about multiplayer, and so it's very confusing for the user. Perhaps better would be:

-    Schleicher ASK 21 Glider
-    Schleicher ASK 21 Passenger/Instructor View for Multiplayer

[2017-04-19 09:41] gilbertohasnofb commented on #121
Since `newint` is not yet merged, I would have suggested to leave this opened. If anything happens and that branch doesn't get merged, it becomes difficult to keep track of has been or needs to be done. But since this is already closed, we just keep it as it is now.

[2017-04-19 09:43] gilbertohasnofb commented on #119
If you guys create a post using:

[code]

then GitHub creates toggle boxes, which can be clicked by any collaborator (handy to keep track of things):

* [x] foo
* [ ] bar

But editing a post to strike things that have been done is perfectly fine in my view.

[2017-04-19 09:48] ghost commented on #121
Good idea :D

[2017-04-19 09:48] gilbertohasnofb commented on #99
@D-ECHO Looking really good! Is there still anything to be done in this branch or can we merge it now?

[2017-04-19 09:49] gilbertohasnofb commented on #121
But I confirm this has been fixed in that branch :+1:

[2017-04-19 09:51] ghost commented on #99
Well I can't think of anything to be done soon, so well, I think we can merge it... The rear pedals aren't yet 100% right but I currently can't figure out how to correct them

[2017-04-19 09:52] gilbertohasnofb commented on #99
Sounds good to me!

Perhaps @viktorradnai could shoot a video of the pedals moving next time he is flying the real thing? That could help.

[2017-04-19 09:55] ghost commented on #130
see 60326eafbc947824f702ea0ed6b7605d39269960

[2017-04-19 09:56] gilbertohasnofb commented on #130
Great!!

[2017-04-19 09:56] ghost commented on #99
Not really, I know how they work and so on, but I can't get the right space for them, it's a quite close thing pilot seat - pedals

[2017-04-19 10:22] D-ECHO opened #132 "FDM Issues"
This is a collection issue for problems with the current FDM
1. Stall behaviour: This might be a problem of the FDM file or of YASim: When flying close to stall point, the real aircraft descend very fast while keeping the nose open (called 'Sackflug' in german), this is not working in FG, there it's just descending a tiny bit faster as usually with ~1m/s:
![fgfs-screen-263](https://cloud.githubuse

[2017-04-19 10:47] gilbertohasnofb opened #133 "Vents are one sided 3D models"
Vents are one sided 3D models and look transparent from outside:

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/25176384/40512e0c-24fe-11e7-850e-5d4701663db8.png)

[2017-04-19 10:48] gilbertohasnofb opened #134 "Problems with right wing mesh"
The right wing mesh has some problems at the point it connects with the fuselage (left wing is perfect). See:

![fgfs-screen-006](https://cloud.githubusercontent.com/assets/5700795/25176425/5e5ae1b8-24fe-11e7-9216-b9cfd3a48a4f.png)

Right wing:
![fgfs-screen-007](https://cloud.githubusercontent.com/assets/5700795/25176426/5e5c7096-24fe-11e7-8faf-9d695a05f12d.png)

Left wing (all ok!):
![fgfs-scree

[2017-04-19 10:54] ghost commented on #134
confirmed

[2017-04-19 11:00] ghost commented on #134
![fgfs-screen-264](https://cloud.githubusercontent.com/assets/12275960/25176910/29d37e62-2500-11e7-92c0-4c2b42063b47.png)
fixed

[2017-04-19 11:01] gilbertohasnofb commented on #134
Great!

[2017-04-19 11:01] ghost commented on #134
See 9d90ba2

[2017-04-19 11:18] ghost commented on #133
Fixed in a8031975cbb021949ce2d7ab1552b980c4473233

[2017-04-21 11:21] gilbertohasnofb commented on #134
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/131

[2017-04-21 11:21] #134 closed

[2017-04-21 11:21] gilbertohasnofb commented on #133
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/131

[2017-04-21 11:21] #133 closed

[2017-04-21 11:21] gilbertohasnofb commented on #130
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/131

[2017-04-21 11:21] #130 closed

[2017-04-21 11:23] #124 closed

[2017-04-21 11:23] gilbertohasnofb commented on #121
Closed via https://github.com/viktorradnai/flightgear-ask21/pull/131

[2017-04-21 11:23] #121 closed

[2017-04-21 11:24] #99 closed

[2017-04-21 11:25] gilbertohasnofb commented on #103
@D-ECHO can we close this?

[2017-04-21 11:25] gilbertohasnofb commented on #79
@D-ECHO I see that the shape of the instructor's panel has already been fixed, is there anything else to be done with this issue?

[2017-04-21 11:26] gilbertohasnofb opened #135 "update splash screen"
We need to update the splash screen as it shows a much older version of the cockpit.

[2017-04-22 04:21] ghost commented on #79
The pedals, but not short-term

[2017-04-22 04:21] ghost commented on #103
IMO yes

[2017-04-22 04:21] #103 closed

[2017-04-22 04:50] ghost commented on #135
Done in b22e2a6ec67da14fb03e99628621ec5864e5b035

[2017-04-22 04:50] #135 closed

[2017-04-22 08:40] viktorradnai commented on #126
There are a couple of outstanding issues with the electrical system and this seems like a good place to make note of them.

1. The slip ball does not work unless the turn and slip coordinator has been powered on. Obviously that ball is an entirely mechanical device that should always "work".
2. The electric vario should not beep until the master switch has been turned on.

[2017-04-22 08:51] viktorradnai commented on #132
@D-ECHO the behaviour you describe with 1. is called mushing in English. Unfortunately I haven't figured out whether it's possible to simulate at all with YASim. The same goes for spinning,

I know that YASim does not simulate stalled conditions well, it's only meant to be accurate during normal flight, so I'm not sure if this can be fixed. I was considering rewriting the FDM using JSBSim but it l

[2017-04-22 14:08] ghost commented on #126
Should be fixed by a9e754526b1224e365f0b71728b78738976fe6a1

[2017-04-22 14:21] ghost commented on #123
Is by time fixed

[2017-04-22 14:21] #123 closed

[2017-05-08 14:52] D-ECHO opened #136 "JSBSim FDM"
I guess for things like better stall/spin etc. we will sometime need a JSBSim FDM, I will try, just for fun :D

[2017-08-22 00:47] viktorradnai commented on #113
Hi there, looks like this issue is back on the master branch. Could you please fix it again?

[2017-08-22 05:42] ghost commented on #113
will have a look once I'm back from Holidays

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<http://www.t-online.de/service/redir/email_app_android_sendmail_footer.htm>

--- Original-Nachricht ---
Von: Viktor Radnai
Betreff: Re: [viktorradnai/flightgear-ask21] Right side of rudder has wrong
texture (#113)
Datum: 22.08.2017, 2:47 Uhr
An:

[2017-11-11 06:46] D-ECHO opened #139 "Model tail closer to reality"
I already got to this, need to tweak some more though
![screenshot_20171111_074524](https://user-images.githubusercontent.com/12275960/32687073-6f5fb38c-c6b4-11e7-9fe5-d3c0f42df990.png)

[2017-11-11 18:54] ghost commented on #139
![screenshot_20171111_195323](https://user-images.githubusercontent.com/12275960/32692550-0c06988a-c71a-11e7-9ad3-d2f4903dfe12.png)
some further progress

[2017-11-11 19:26] ghost commented on #139
![fgfs-screen-414](https://user-images.githubusercontent.com/12275960/32692773-947fab08-c71e-11e7-8b0a-f2e66a7277ce.png)
in fg

[2017-11-11 21:11] gilbertohasnofb commented on #139
Very nice! :clap:

[2017-11-14 01:43] viktorradnai commented on #132
The suggestion by the Flightgear devs was to rewrite the FDM in JSBSim which is a ton of work but may be necessary eventually.

[2017-11-14 01:45] viktorradnai commented on #128
How would you like to simulate this? I think this is mostly just felt in the stick but that would require force feedback.

[2017-11-14 01:52] viktorradnai commented on #55
Fixed by #138

[2017-11-14 01:52] #55 closed

[2017-11-14 02:03] viktorradnai commented on #126
This looks almost perfect now, the only outstanding problem is that the turn/slip coordinator needle does not return to the middle if the power is turned off while in a turn. It will just stay where it was when you turned it off.

[2017-11-14 02:06] viktorradnai opened #140 "Pilot models are too large"
Looking at the pilot models from various angles, they look too big compered to real life pilots sitting in the cockpit. Maybe reducing their size by 10% will help. Note that the models currently aren't wearing a parachute which acts as a large seat cushion -- this might explain the size discrepancy.

[2017-11-14 15:41] ghost commented on #132
@viktorradnai Yep, that's probably the only perspective on a long-term look, but I myself were not able yet to do so

[2017-11-14 15:42] ghost commented on #128
IIRC, it's also feelable so maybe just some view up and down can help, but I'd need to test it IRL again, was over half a year ago

[2017-11-14 15:43] ghost commented on #126
Does the RL turn needle return to the middle, I though it would probably just stay if there's no power

[2017-11-14 15:48] viktorradnai commented on #128
I don't remember feeling my body shaking when we get buffeted. I just feel it as subtle rattling of the stick. But I need to test it too, to be sure.

[2017-11-14 15:49] viktorradnai commented on #132
I haven't got the time to start on this, maybe around Christmas if things get a bit more quiet. Should we close this issue?

[2017-11-14 15:50] viktorradnai commented on #126
I would assume that there is a spring that pulls it back and the forces generated by a rotating gyro pull it out to the side when turning. But it needs testing.

[2017-11-14 16:47] ghost commented on #132
I'd say keep it open, it doesn't bother and this way we don't forget it

[2017-12-08 17:16] D-ECHO opened #141 "Better outside wind sounds"
The exterior wind sounds are not very realistic, maybe this could be improved

[2017-12-08 18:04] viktorradnai commented on #141
This is a difficult one. How would you get a recording of the sound of the glider from the outside, without too much Doppler effect?

[2017-12-16 17:44] D-ECHO opened #142 "Maybe better GFK texture?"
Today I took some photos at our gliding club, so @gilbertohasnofb maybe if you want you can make some more realistic GFK textures from them? Anyway, here they are
![img_20171216_160449](https://user-images.githubusercontent.com/12275960/34072994-106a2c42-e291-11e7-9182-d006f8b1cc94.jpg)
![img_20171216_160452](https://user-images.githubusercontent.com/12275960/34072995-10877ac2-e291-11e7-8afd-a6339

[2017-12-16 20:19] gilbertohasnofb commented on #142
@D-ECHO Thanks for the pictures but at the moment I am really not having time to remake the interior textures, that would be a large undertake. Let's leave this opened and I will see to it in the future.

[2017-12-25 16:32] ghost commented on #141
Maybe taking only a part of an overflight (during landing) and nivelling the Doppler effect with some audacity change of frequency?

[2017-12-25 16:36] ghost commented on #129
Looking at photos on google, red markings seem to be placed at 6.5/-4.0 (see https://c1.staticflickr.com/7/6220/6261110754_2f2f1211ee_b.jpg), according to the POH (http://www.luftsportverein-dinslaken.de/ASK21_Flughandbuch.pdf, page 10) there should be yellow arcs from 5.3-6.5/-3.0--4.0 and red lines at 6.5/-4.0

[2017-12-25 17:02] ghost commented on #129
As the factory ASK21 (https://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg) and also this one: http://soargbsc.com/members/manuals/ASK-21%20%20421GB%20Front%202016-09-21.JPG have the yellow markings, I'll add them, hope that's ok

[2017-12-25 17:08] ghost commented on #129
![fgfs-screen-660](https://user-images.githubusercontent.com/12275960/34341758-903f2652-e99e-11e7-9121-f8dc50219a3e.png)

[2017-12-25 17:11] ghost commented on #129
see https://github.com/viktorradnai/flightgear-ask21/pull/143

[2017-12-25 17:18] D-ECHO opened #144 "Aileron has far too high drag"
The aileron drag is so high that it directly decreases vertical speed by ~1m/s, which IMO is far too much, wenn using it (full deflection) along with the spoilers extended, it leads immediately to a decrease in airspeed of up to ~80km/h making the aircraft stall.  l'll experiment whether simply decreasing drag="" in the aileron config (FDM) fixes this.

[2017-12-25 17:34] ghost commented on #144
Okay, about the decresing vertical speed, maybe it's actually correct, would have to be checked against the real aircraft in spring :D but the second thing, aileron deflection leading to a stall definetely needs to be fixed, I think this comes from a combination of too high drag from spoiler and maybe quite high drag from ailerons. I already earlier noticed that there's strange interference betwee

[2017-12-25 17:35] D-ECHO opened #145 "Aircraft goes wild in stall with spoilers extended"
When stalling with spoilers extended, the glider rocks around like it's gone completely insane :D, probably we'll have to disable the stallflap, which is simply a dirty way, at least during spoiler deflection

[2017-12-25 18:43] D-ECHO opened #146 "Vario (McCready-Ring) still reads "ASK13""
just a small thing to change, I think also the scale and values on the McCready-Ring need to be changed
![fgfs-screen-661](https://user-images.githubusercontent.com/12275960/34342300-ea52411c-e9ab-11e7-93a6-26521b36b144.png)

[2017-12-25 18:46] ghost commented on #140
According to the numbers (~1.8m stood-up) the pilots seem normally big, probably it's more their seating position?

[2017-12-25 20:24] viktorradnai commented on #140
Maybe the head of the model is too big. Looking at an actual photo I took a couple of years ago and comparing it with a screenshot seems to confirm this.

![image](https://user-images.githubusercontent.com/4738178/34342746-a1c789f6-e9b1-11e7-99ff-6ba89ae56f78.png)

[2017-12-26 00:10] viktorradnai commented on #140
![image](https://user-images.githubusercontent.com/4738178/34343693-2f0bdcee-e9d1-11e7-8404-c11bc3ce85be.png)

[2017-12-26 00:11] viktorradnai commented on #140
Also see here: ![image](https://user-images.githubusercontent.com/4738178/34343699-45767796-e9d1-11e7-82ac-d8e13c77bde9.png)

[2017-12-26 00:16] viktorradnai opened #147 "Rudder texture regression"
A while ago, the rudder texture seems to have reverted back to its previous incorrect state (where the letter printed on the rudder is mirrored). According to git bisect, this has occurred with this commit:

[2017-12-26 00:18] viktorradnai commented on #147
Note the problem on the tail:

![image](https://user-images.githubusercontent.com/4738178/34343740-2431e2ea-e9d2-11e7-9775-f0e72f9b5f60.png)

[2017-12-26 00:42] viktorradnai opened #148 "Make airbrake extend less"
The airbrakes extend a bit too much on the model. In reality there isn't much of a gap between the bottom of the airbrake and the top of the wing even when the brake is fully deployed. Please change the animation so the airbrake only extends to about as much at 100% as it does now at about 50%.

![image](https://user-images.githubusercontent.com/4738178/34343877-aa5f0160-e9d5-11e7-8307-ee9b182fa3c

[2017-12-26 00:51] viktorradnai commented on #145
The stall flap implementation, apart from being a hack, it is also broken. When you gently stall the glider, you can normally unstall it by reducing the pull on the stick, which makes it fly normally rather than mushing. But the stall flap depends on the speed rather than the angle of attack, so once the glider stalls, it will lose a lot of height before it regains sufficient speed that the stall

[2017-12-26 01:08] viktorradnai commented on #144
I will try to check this when I next fly an ASK21. I have not noticed an increase in the sink rate when using the ailerons, but I had to add this much drag so the adverse yaw seemed correct. Maybe it can be tweaked but only lift and drag seems to be available as tunable parameters, and lift controls the roll rate, which also appears to be about right.

[2017-12-26 06:37] ghost commented on #147
I will push the new tail (with better fuselage-tail transition #139) once I'm back at my other computer, probably after new year, IIRC it has it fixed, so I'd put this issue on hold until then

[2017-12-26 06:38] ghost commented on #148
Absolutely correct, also noted this :D will fix

[2017-12-26 06:40] ghost commented on #140
Oh yes... probably because I had scaled the models from Aircraft/Generic, which are only around 1.6m and so they are too "fat" compared to real people. I'll look into fixing this

[2017-12-26 06:43] ghost commented on #129
Closed by #143

[2017-12-26 06:43] #129 closed

[2017-12-26 06:47] ghost commented on #148
see #149

[2017-12-26 06:50] ghost commented on #146
I'll recreate the textures for vario and alt in inkscape, @gilbertohasnofb can you afterwards add the shadow again, unfortunately we don't have layer, only the full image

[2017-12-26 07:36] ghost commented on #61
Better ft altimeter is on the way :D
![screenshot_20171226_083526](https://user-images.githubusercontent.com/12275960/34350581-d662610c-ea17-11e7-815a-f9467f1ab001.png)

[2017-12-26 08:37] ghost commented on #61
Needles are still to do (and animation)
![screenshot_20171226_093531](https://user-images.githubusercontent.com/12275960/34352028-61d07064-ea20-11e7-89e7-e4ea0cc604d3.png)

[2017-12-26 11:46] viktorradnai commented on #140
Ah yes, that completely explains it. The head to body ratio is apparently a well-known thing in art according to some googling. The average human's head-to-body ratio is 1:7.5, with taller, more "heroic" figures being depicted with ratios 1:8 - 1:8.5.

This image is quite telling, I immediately associate the first image with a really short man, and the last one with a proper giant:
![image](https:

[2017-12-26 15:00] #148 closed

[2017-12-26 15:02] D-ECHO opened #151 "Texture inside of spoiler box as raw fibreglass"
I'm adding this as a new issue as I don't want to change the model before pushing the new tail so there are no merge problems

[2017-12-26 15:12] ghost commented on #128
Looking at videos of stalls it also doesn't seem as prominent as in my memory, will observe next time I stall in the '21

[2017-12-26 17:51] ghost commented on #146
New McCready Ring (km/h)
![fgfs-screen-666](https://user-images.githubusercontent.com/12275960/34361849-5c85df06-ea6e-11e7-9b24-5a94b624f6a5.png)

do you have a picture of a McCready ring with kts instead of km/h?

[2017-12-26 18:06] ghost commented on #109
@HHS81 @viktorradnai Even when using 2017.4.0, the aircraft looks a lot better with reflection-type=2, so IMO we should keep it, even if it will sometime in the future not be needed anymore, still for those with older version (somehow including current version) it should be kept as it leads if I unterstand correctly to now advantages to remove it.
![fgfs-screen-667](https://user-images.githubuserc

[2017-12-26 18:15] ghost commented on #126
According to http://walter.bislins.ch/aviatik/index.asp?page=Wendezeiger, the needle returns to its normal position pulled by a spring, so I'll model it like this. Question is, should we also simulate that the gyro rotates still for some time even with electricity cut off?

[2017-12-26 18:38] viktorradnai commented on #126
It would be nice to. Some other aircraft must have already implemented
this.

On 26 Dec 2017 19:15, "D-ECHO" <notifications@github.com> wrote:

[2017-12-27 06:35] ghost commented on #126
actually the instrumentation code of flightgear already implements a simulation of the gyro, but with the needle going to -2.5 instead of anticipated 0 when gyro stops spinning
![fgfs-screen-669](https://user-images.githubusercontent.com/12275960/34372927-5de690d8-ead8-11e7-89a5-6be16cfcf85d.png)
Still, I guess there's a reason for it so I'll use that system, only thing to be modified is the turn

[2017-12-27 06:49] D-ECHO opened #152 "Texture interior grey rather than white"
Comparing this:
![fgfs-screen-670](https://user-images.githubusercontent.com/12275960/34373239-4d1b65ec-eada-11e7-9015-128d0961d838.png)
to
https://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg
(source: alexander-schleicher.de)

shows that the interior walls are actually painted grey whereas ours are almost completely white

[2017-12-27 17:42] ghost commented on #146
for the km/h ring see #153 , kts ring still pending I don't have an image of that

[2017-12-27 17:44] ghost commented on #128
I'll close this for now

[2017-12-27 17:44] #128 closed

[2017-12-27 17:53] ghost commented on #126
see #153

[2017-12-28 13:42] HHS81 commented on #109
@D-ECHO
As the original author of Type=2 (Thorsten was so nice by adding this) I can still repeat that Type=2 is physically wrong. Even when Throsten decides to skip Type=2 some day, it will automatically fall back to Type=1.
Looking at the image showing Type=1 I can see that it is not correct configured and make use of unrealistic features.

[2017-12-28 17:33] HHS81 commented on #109
@viktorradnai @D-ECHO
You might wanna check this: https://github.com/viktorradnai/flightgear-ask21/pull/154

[2017-12-28 18:17] ghost commented on #109
@HHS81, looks really good thank you, will evaluate today or tomorrow and merge, thank you again!

[2017-12-29 01:58] viktorradnai commented on #109
@HHS81 Thanks for this, much appreciated. Please see my comment to the MR.

[2017-12-29 09:18] ghost commented on #146
Closed via #153

[2017-12-29 09:18] #146 closed

[2017-12-29 09:19] D-ECHO opened #155 "Kts McCready ring for kts variometer"
Reference image missing for this

[2017-12-29 19:46] viktorradnai commented on #79
I have found the reason for one of the discrepancies that has been bugging me. If you look at the IRL photo, you can see the top of the instructor's instrument panel, despite the view point not being very high -- eg. you can't see the front instrument panel over my shoulder. With the sim, I couldn't replicate this view point. This is because in our model, the top of the instrument panel slopes for

[2018-01-01 12:00] ghost commented on #147
see #156

[2018-01-01 12:00] ghost commented on #139
see #156

[2018-02-15 13:51] #122 closed

[2018-02-15 13:52] #126 closed

[2018-02-24 16:57] ghost commented on #152
![fgfs-screen-762](https://user-images.githubusercontent.com/12275960/36632856-329dd58e-198c-11e8-80ce-e03e249f70d8.png)
WIP on better interior (grey, more detailed, correct seat shell)

[2018-02-24 19:10] ghost commented on #151
already done in current master version, going to be affected (but not changed, only different way of modelling) by interior update

[2018-02-24 19:10] #151 closed

[2018-02-24 19:11] #109 closed

[2018-02-24 19:12] D-ECHO opened #157 "Model engine, better texture for inside of engine box"

[2018-02-24 19:16] D-ECHO opened #158 "Model trim ballast"
bind with selection animation to weight element (Fuel & Payload)
see https://www.alexander-schleicher.de/wp-content/uploads/2015/04/21-Trudelgewicht-001.jpg

[2018-02-25 09:09] ghost commented on #140
I'm working on a completely new pilot model, based on a model created using makehuman (http://www.makehuman.org, we should be ok to use it, relying on CC0 (see http://www.makehuman.org/license.php), a second pair of eyes looking over it though would be welcome, if it's unclear, I'll contact them to make sure we can use it) afterwards adjusted T-shirt, sun hat and sun glasses
![image](https://user-

[2018-02-25 09:09] ghost commented on #140
@viktorradnai

[2018-02-25 17:00] gilbertohasnofb commented on #140
@D-ECHO this looks really good! Just one idea: perhaps the pilot and copilot could have some small differences in their models, e.g. slightly different sunglasses, one having a baseball cap, different T-shirt.

Also, since this looks so much better than FG's default pilot models, would you consider to improve those if/when you would have time? That would be a great addition to _all_ FG aircraft wh

[2018-02-25 19:04] ghost commented on #140
@gilbertohasnofb I´ve already started having a female and a male model, so I can also adjust these models so we have two different males and two different females as pilots, each with small differences as you suggested.
When I´m done with these, I´d be happy to try adding improved versions of the current models to FGDATA :D

[2018-02-25 19:10] gilbertohasnofb commented on #140
Great, many many thanks for this! Those models are in a real need of replacement... :tada:

[2018-02-25 21:17] viktorradnai commented on #140
This pilot model looks great. I also agree that two different characters would be nice, with different color clothing, skin, different style sunglasses and maybe some facial hair at least?

[2018-02-25 22:18] viktorradnai commented on #147
Closed by #156

[2018-02-25 22:18] #147 closed

[2018-02-25 22:19] viktorradnai commented on #139
Closed by #156

[2018-02-25 22:19] #139 closed

[2018-02-25 22:33] viktorradnai commented on #152
Good start, but it's a bit too dark. The seat pan and stick are light grey, say #eeeeee in HTML notation, while the fuselage is perhaps #aaaaaa. In practice I haven't even noticed the difference in colour, I had to look up the photos I took :) The canopy frame is painted black on the inside.

[2018-02-26 00:59] viktorradnai commented on #113
Closed by #156

[2018-02-26 00:59] #113 closed

[2018-02-26 17:43] ghost commented on #140
Unfortunately there is no facial hair available in makehuman, but I will try and do something in gimp then. I've also created different characters (young/old, different origin, skin tone, etc.), currently working on the clothing :D

[2018-02-26 18:36] ghost commented on #140
![render_fo](https://user-images.githubusercontent.com/12275960/36688290-3fb2a1d6-1b2c-11e8-9427-76267de6f555.png)
![render_fy](https://user-images.githubusercontent.com/12275960/36688291-3fe3dc60-1b2c-11e8-9c52-bd8cdc59255e.png)
![render_mo](https://user-images.githubusercontent.com/12275960/36688292-4009d8fc-1b2c-11e8-83f9-e04a1c5243c2.png)
![render_my](https://user-images.githubusercontent.com/

[2018-02-26 18:39] gilbertohasnofb commented on #140
@D-ECHO looks great, congrats! I would just ask you to consider a bit of variation with the sunglasses and hats, perhaps leave some of them without those or use different models if those are available.

[2018-02-26 18:40] gilbertohasnofb commented on #140
And by the way, no lady would ever wear those black dress shoes with black socks together with shorts :stuck_out_tongue_winking_eye: Just saying it :wink:

[2018-02-26 19:07] ghost commented on #140
the (too large) socks are automatically added by the program, I'm also considering to make them smaller/removing them. The shoes to me looked like some normal, a bit more tough shoes as good for the airfield ;)

[2018-02-26 19:07] ghost commented on #140
I've modelled the sunglasses and hats myself, so yes there will be more variation soon. ATM all use more or less the same ones, later I want to make a difference in form and color of the sunglasses and color of the hats

[2018-02-26 19:08] ghost commented on #152
Yep, I'm gonna make the interior a bit brighter again. Do you mean it's literally painted *black* or grey as the rest? IIRC at our ASK21, it's painted grey as the rest

[2018-02-26 19:14] viktorradnai commented on #152
Yes, it is painted matte black.

On 26 Feb 2018 7:08 p.m., "D-ECHO" <notifications@github.com> wrote:

[2018-02-26 19:16] viktorradnai commented on #140
If you could make them beige or similar then they could look like the kind
of hiking shoes that actually make sense to wear.

On 26 Feb 2018 7:07 p.m., "D-ECHO" <notifications@github.com> wrote:

[2018-02-27 16:58] ghost commented on #140
What about this?
![image](https://user-images.githubusercontent.com/12275960/36742363-c32eb9bc-1be7-11e8-8529-39b10fc958bf.png)

[2018-03-01 00:33] viktorradnai commented on #140
Those look almost like dress shoes. Sneakers would be better, especially with short socks or no socks.

I had a play with Makehuman (the version that's available in Debian) but it had problems with rendering skin and properly layering clothes on the models. But I've created two more characters, an old man and another young woman with a ponytail. If I get to fix the issues I'll share them.

[2018-03-09 16:14] ghost commented on #136
Good news on this one: I just completed the first pattern with the JSBsim fdm, winch start is working (ported from DG101G), stall is at least more realistic than the yasim one, there are still a lot of things to tweak about its flight characteristics and performance, but it's flyable and not completely unrealistic :)

[2018-03-09 17:13] ghost commented on #136
if you want to test see branch jsb, feedback is welcome, the handling still doesn't feel right but I can't figure out what exactly it is

[2018-03-09 18:33] viktorradnai commented on #136
Hey, thanks for that, I'll try to have a flight or two with it this weekend and have a look at it.

[2018-03-10 15:56] ghost commented on #136
Current to-dos:
- [ ] improve stall characteristics (slower descent, is currently at >5, should be around 3-4 IIRC)
- [ ] enable spin with CG >328mm aft of leading edge (according to POH https://www.alexander-schleicher.de/wp-content/uploads/2015/02/210_TM04B_D_HB.pdf p.11)
- [ ] improve general handling characteristics (doesn't feel correct yet)
- [ ] make winch behaviour the same for yasim and j

[2018-03-10 15:58] D-ECHO opened #159 "Change -mi fuselage model"
The ASK21mi has a shorter tail to compensate the extra engine weight, see
![image](https://user-images.githubusercontent.com/12275960/37244104-48b85bfc-2484-11e8-8619-b5e8dcab0bf4.png)

[2018-03-10 15:59] ghost commented on #108
![sotm_march](https://user-images.githubusercontent.com/12275960/37244114-6802b46c-2484-11e8-9ccb-29a2e707c3ef.jpg)

[2018-03-10 16:00] ghost commented on #132
probably will be fixed by #136

[2018-03-10 16:01] ghost commented on #132
Didn't want to close it :D

[2018-03-11 14:28] ghost commented on #37
![fgfs-screen-580](https://user-images.githubusercontent.com/12275960/37254591-2c02cc7e-2540-11e8-9303-995ac878cefa.png)
![fgfs-screen-581](https://user-images.githubusercontent.com/12275960/37254592-2c38afc4-2540-11e8-9fbc-6afe8a22c409.png)
![fgfs-screen-582](https://user-images.githubusercontent.com/12275960/37254593-2c5459cc-2540-11e8-94a0-05be4c68e13b.png)
![fgfs-screen-583](https://user-image

[2018-04-03 15:34] ghost commented on #87
I think we might want to use some irradiance map here, so we can have darker shading in the footwell, but I haven't yet figured out how to do so @gilbertohasnofb do you know that by chance?

[2018-04-04 08:10] gilbertohasnofb commented on #87
@D-ECHO I do not know how the irradiance map works but perhaps @wlbragg could point you in the right direction.

[2018-04-04 18:01] wlbragg commented on #87
I'm not sure that is the issue here. You should get a darker footwell simply by using the default model interior.

[2018-04-04 18:09] wlbragg commented on #87
After looking at the models, is it because the fuselage model has nothing to indicate that the footwell is in shadow. Does it not recognize the separate interior.ac as casting shadow?

[2018-04-04 18:12] wlbragg commented on #87
When making the shadow map you would want the entire model assembled into one piece for one.
As far as the two separate models ask21.ac and interior.ac recognizing the other has influence, I will have to download the repo and test it for myself to wrap my head around it.

[2018-04-05 05:16] ghost commented on #87
Thanks @wlbragg for looking at this, but I have to admit I don't really understand what you're writing. With "shadow map" do you mean the black cubemap passed to the interior-model.eff (<texture n="4">) or the AO shadows baked onto the texture?

[2018-04-05 05:22] ghost commented on #159
I've had another look at this and it actually looks correct, I think we can close this for now

[2018-04-05 05:26] ghost commented on #158
Basically done and available in branch jsb, texture missing though
![fgfs-screen-642](https://user-images.githubusercontent.com/12275960/38348526-abd83086-38a2-11e8-87ef-9d55d527efe0.png)

[2018-04-05 08:28] ghost commented on #140
![fgfs-screen-643](https://user-images.githubusercontent.com/12275960/38355058-0442d384-38bc-11e8-83fa-6bb099a31be0.png)
![fgfs-screen-644](https://user-images.githubusercontent.com/12275960/38355079-19a7d828-38bc-11e8-9792-69019e91f28c.png)
working on a new fuel and payload dialog

[2018-04-05 12:42] gilbertohasnofb commented on #158
I can try to come up with something soon if you need help.

[2018-04-05 13:42] wlbragg commented on #87
Yes that is the one, but that still wont get you darker recessed areas.

I just installed this and it looks reasonable  to me. I didn't notice any misplaced shadows. I think it is fairly light down in the recesses because of the open top.

[2018-04-05 23:44] gilbertohasnofb commented on #158
@D-ECHO Is that mapped to some place in the texture files? If not can I just go ahead and add some texture on the right side of the tail in the fuselage texture?

[2018-06-18 05:06] WillyFG opened #160 "Throttle cannot be adjusted by mouse."
When clicking the power lever, the popup with the current throttle setting appears, but draging (= left button down + moving) the mouse up / down does not change the setting. Instead the popups display flickers, displaying "Throttle 0%" and "Throttle _P_ %" (with _P_ being the current setting). Using the keyboard numpad's "9" and "3" instead works well.

[2018-06-18 06:06] WillyFG opened #161 "Improving engine operations by keyboard."
As a pilot I want to fully control the engine by means of the computer's keyboard, so that I do not need to use the computer's mouse to click panel items (can be hard on small computer screens) OR so that I can permanently use the computer's mouse to control the stick, e.g. when cutting-off the engine while flying.

I order to achieve full keyboard control, it's required that ...

1. the starter b

[2018-09-06 17:49] legoboyvdlp opened #163 "Multiplayer - model incorrect?"
![image](https://user-images.githubusercontent.com/10434911/45175515-8e7df480-b205-11e8-8cd2-5942f77f7c06.png)
Over multiplayer the tail boom is missing?

[2018-09-07 15:27] ghost commented on #163
This is an incompatibility bug when the pilot flying has an older variant, so the viewed version does not know whether it is the -mi variant or not. In the jsb branch, this is fixed so the glider model is always visible when no data is transferred on this.
@legoboyvdlp

[2018-09-07 15:29] ghost commented on #152
I suppose this depends on the owner then.. each club paints it like they want. As a compromise, I'd suggest using the colors according to the image by AS? https://www.alexander-schleicher.de/wp-content/uploads/2015/03/21-Cockpit-002.jpg

[2018-09-07 16:01] ghost commented on #163
Will probably be fixed by #164

[2019-04-27 05:18] D-ECHO opened #165 "Version 5.0"
As we've done quite a lot of things (mostly JSB) since last FGAddon version 4.0, we might want to prepare for Version 5.0 release to FGAddon, I'm doing some FDM tweaks in the jsb branch atm, if we can merge those, then otherwise I'd be clear for a release, any bugs/issues that we need to address before?

[2019-04-27 05:47] ghost commented on #158
@gilbertohasnofb yes you can.... (sry completely forgot...)

[2019-04-27 05:48] #163 closed

[2019-04-27 05:48] #160 closed

[2019-04-27 06:04] ghost commented on #3
![fgfs-20190427060324](https://user-images.githubusercontent.com/12275960/56845523-fbdcb380-68c2-11e9-9d9b-109dcd0e4a1b.png)
![fgfs-20190427060329](https://user-images.githubusercontent.com/12275960/56845524-fbdcb380-68c2-11e9-9a1f-b4ab73fdc901.png)
So ya... here we are :) models can definetely be better, but imo a quite good start

[2019-04-27 07:48] ghost commented on #3
see #166

[2019-04-27 08:32] ghost commented on #37
fixed by #166

[2019-04-27 08:53] ghost commented on #161
should be fixed by #166

[2019-08-27 06:54] ghost commented on #165
@viktorradnai @gilbertohasnofb Any remarks/bugs before Version 5.0 for SVN?

[2019-08-27 07:33] #161 closed

[2019-08-27 08:46] ghost commented on #145
I would have two (three) possible solutions to discuss for this:
  1. replace air speed dependation with angle of attack dependation
        advantage: more realistic stall with the yasim version
        disadvantage: still being a hack and probably still interfering strangely with spoilers and ailerons
  2. as you suggested, remove the stall flap implementation completely
       advantage: no mor

[2019-08-27 08:47] #127 closed

[2019-08-27 08:49] #37 closed

[2019-08-27 10:38] ghost commented on #78
@viktorradnai I have added a test version of a drag robot, adapted from the dg-101g in the new branch dragrobot Please test. At the moment, we need to change the hitch.nas file in fgdata for this to work, so that it supports "dragger" apart from "ai" and "multiplayer"

[2019-08-27 10:38] ghost commented on #78
Ooops didn't mean to close ;)

[2019-08-27 11:07] ghost commented on #78
Another problem in the current version is that the first-spawned drag roboter can not be removed, all others are disappearing fine and I can't really find the cause

[2019-08-27 12:13] gilbertohasnofb commented on #165
if I have the chance, I will try to work on the texture issues, particularly the improvements to the interior. When are we thinking about releasing version 5.0?

[2019-08-27 12:14] ghost commented on #165
I'd actually like to release it quite soon as the fgaddon version by now is really outdated

[2019-08-27 12:47] gilbertohasnofb commented on #165
hmm in that case I think I won't be able to work on the textures, these next few weeks will be tough for me. But I think we should make a release soon then as not to have an out of date aircraft in FGAddon, and then we can work on new features in the future

[2019-08-27 12:49] ghost commented on #165
Makes sense. In my opinion it would be best to just release the current master to fgaddon, in case noone has any complaints?

[2019-08-27 13:01] gilbertohasnofb commented on #165
I agree

[2019-08-27 13:03] ghost commented on #165
Okay :D

[2019-08-27 13:03] #165 closed

[2019-08-29 20:31] D-ECHO opened #167 "Propeller does not create enough thrust (on takeoff)"
see https://forum.flightgear.org/viewtopic.php?f=4&t=36255#p353127

[2019-09-03 12:36] D-ECHO opened #168 "Drag Robot Issues"
Related to #78
I'll collect all issues the drag robot currently has here:
1) Release: Release message is send too often, drag robot disappears instead of keeping flying (maybe turning left)

[2019-10-27 12:07] D-ECHO opened #169 "Request access"
Hey @viktorradnai @gilbertohasnofb
As I was as stupid as to delete my GitHub account, I also lost push access to this repostiory. Would you mind giving me access again?

[2019-10-27 12:12] gilbertohasnofb commented on #169
I don't think I have access to the contributors' tab in this repo, so we need @viktorradnai to re-add you there.

[2019-10-27 13:51] D-ECHO commented on #169
okay, thanks anyway already :)

[2019-10-29 10:39] viktorradnai commented on #169
@D-ECHO Invite sent, sorry about the delay on this.

[2019-10-29 10:39] #169 closed

[2019-10-29 16:57] D-ECHO commented on #169
No prob, Thank you!

[2019-11-02 12:03] #3 closed